#site-header .hero-container {
    height: 20vh;
    width: 100%;
    overflow: hidden;
    position: relative;
    margin-bottom: 20px;
}

#site-header .hero-bg {
    height: 70px;
    width: 100%;
    background-image: url("https://thebank.info53.com/sites/RetailLearn/Learning/SiteAssets/app/RLLearning/assets/img/commheader.png");
    background-size: cover;
    background-position: 50% 20%;

}
/* https://thebank.info53.com/sites/RetailLearn/SiteAssets/app/RetailLearning */
#site-header .hero {
    background-image:  url("https://thebank.info53.com/sites/RetailLearn/SiteAssets/app/RetailLearning/assets/img/logob.png");
    background-repeat: no-repeat;
    background-color: #ffffff;
    background-position: left; 
    background-position: 5% 35%; 

    height: 100%;
    width: 100%;
    padding: 0px 40px;
    transition: transform 2s;
}

#site-header .hero-stuff {
    position: absolute;
    top: 95px;
    left: 400px;
}
#site-header h3 {
    font-size: 55px;
    font-weight: 800;
    font-family: sans-serif;
    color: #1D4094;
}


