<div class="leaderboard-table">
    <div class="row">
        <div class="input-group">
            <select 
                class="form-control" 
                ng-options="opt as opt for opt in ctrl.groupBy track by opt" 
                ng-model="ctrl.groupByValue" 
                ng-change="ctrl.loadData()"
            >
            </select>
        </div>
    </div>
    <div class="row" ng-if="ctrl.groupByValue == 'Role'">
        <table class="table">
            <tr>
                <th>User</th>
                <th>XP</th>
                <th>Role</th>
                <th>Department</th>
                <th>Region</th>
            </tr>
            <tr ng-repeat="user in ctrl.filterData() track by $index">
                <td>{{user.User.Title}}</td>
                <td>{{user.XP}}</td>
                <td>{{user.Role}}</td>
                <td>{{user.Department}}</td>
                <td>{{user.Region}}</td>
            </tr>
        </table>
    </div>
    <div class="row" ng-if="ctrl.groupByValue == 'Department'">
        <table class="table">
            <tr>
                <th>#</th>
                <th>Department</th>
                <th>XP</th>
            </tr>
            <tr ng-repeat="(i, dept) in ctrl.filterData() track by $index">
                <td>{{$index + 1}}</td>
                <td>{{i}}</td>
                <td>{{ctrl.getSumOfXP(dept)}}</td>
            </tr>
        </table>
    </div>
</div>
