<div class="app-container b" ng-app="ManagerApp" ng-controller="AppCtrl as ctrl" id="manager">
    <nav class="navbar navbar-default">
        <span 
            class="glyphicon glyphicon-align-justify navbar-toggle" 
            style="padding: 13px 10px;font-size: 20px;" 
            data-toggle="collapse" 
            data-target="#navbarSupportedContent" 
            aria-controls="navbarSupportedContent" 
            aria-expanded="false">
        </span>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="nav navbar-nav">
                <li><a href="Welcome.aspx">Home</a></li>
                <li><a href="Dashboard.aspx">My Dashboard</a></li>
                <li><a href="Badges.aspx">Trainings</a></li>
                <!-- <li class="active"><a href="Leaderboard.aspx">Leaderboard</a></li> -->
            </ul>
        </div>
    </nav>
    <h2>Manager Page</h2>
    <div class="container" ng-if="ctrl.currentUser.userRole=='User'">
        <h1>Sorry, you don't have access to this page</h1>
    </div>
    <div class="row" ng-if="ctrl.currentUser.userRole=='Manager'">
        <div class="container">
            <div class="row">
                <div class="col-sm-3">
                    <div class="form">
                        <div class="form-group">
                            <label>Select user</label>
                            <input type="text" class="form-control"
                                autocomplete="off"
                                id="SelectedUser"
                                name="SelectedUser"
                                ng-model="ctrl.selectedUser"
                                maxlength="255"
                                validator="requiredUser"
                                valid-method="watch"
                                use-view-value="false"
            
                                uib-typeahead="user as user.User.Title for user in ctrl.getUser($viewValue,ctrl.currentUser.usesId)"
                                typeahead-min-length="2"
                                typeahead-loading="loadingLocations.SelectedUser"
                                typeahead-no-results="noResults.SelectedUser"
                                ng-class="{loading: loadingLocations.SelectedUser}"
                                message-id="errorMessage-SelectedUser"
                            >
                            <div ng-show="noResults.SelectedUser && SelectedUser">
                                <i class="glyphicon glyphicon-remove"></i> No Results Found
                            </div>
                            <div id="errorMessage-SelectedUser"></div>
                        </div>
                    </div>
                </div>
            </div>
            <br/>
            <div class="row" ng-if="ctrl.userInfo.userName">
                <div class="col-sm-12 col-md-12 col-lg-12">
                    <div class="profile-header-container user-info">   
                        <div class="profile-header-img text-center">
                            <!-- <img class="img-circle user-icon" ng-src="/_layouts/15/userphoto.aspx?size=L&username={{ctrl.userInfo.userName}}" /> -->
                            <div class="img-circle user-icon" style="background-image: url('/_layouts/15/userphoto.aspx?size=L&username={{ctrl.userInfo.userName}}')"></div>
                            <span class="rank-label-container">
                                <div class="credits-info">{{ctrl.userInfo.xp}} XP</div>
                                <div class="full-name-info">{{ctrl.userInfo.fullName}}</div>
                                <span class="position-info">{{ctrl.userInfo.position}}</span>
                                <span ng-if="ctrl.userInfo.position && ctrl.userInfo.department">&nbsp;|&nbsp;</span>
                                <span class="department-info">{{ctrl.userInfo.department}}</span>
                            </span>
                        </div>
                        <div class="text-center">
                            <h4>Avatar</h4>
                            <div class="profile-header-container avatar">   
                                <div class="profile-header-img text-center">
                                    <img class="img-circle user-icon" ng-src="{{ctrl.userInfo.avatar.Url}}" />
                                    <!-- <span class="rank-label-container">
                                        <div class="full-name-info">{{ctrl.userInfo.avatarItem.Title}}</div>
                                    </span> -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br/>
            <div class="row" ng-if="ctrl.userInfo.userName">
                <div class="col-sm-12 col-md-12 col-lg-12 text-center">
                    <h4 class="text-center">Recent Activity</h4>
                    <div ng-repeat="item in ctrl.recentTasks track by $index" class="col-sm-12 col-md-12 col-lg-4">
                        <div ng-if="item['odata.type'] == 'SP.Data.BadgesTaskLogListItem'" class="recent-container">
                            <div class="user-image">
                                <img class="img-circle" ng-src="/_layouts/15/userphoto.aspx?size=S&username={{item.AssignedTo.EMail}}" />
                                <div>&nbsp;{{item.AssignedTo.Title}}</div>
                            </div>
                            <div>
                                <div>{{item.Badge.Title}}: {{item.Title}}</div>
                                <div>{{ctrl.moment(item.Created).format('MM/DD/YYYY h:mm a')}}</div>
                            </div>
                        </div>
                        <div ng-if="item['odata.type'] == 'SP.Data.BadgesListListItem'" class="recent-container">
                            <div class="user-image">
                                <img class="img-circle" ng-src="/_layouts/15/userphoto.aspx?size=S&username={{item.TaskLog.AssignedTo.EMail}}" />
                                <div>&nbsp;{{item.TaskLog.AssignedTo.Title}}</div>
                            </div>
                            <div>
                                <img class="img-circle" ng-src="{{item.Icon.Url}}" />
                                <div>
                                    <div>{{item.Title}}</div>
                                    <div>{{ctrl.moment(item.TaskLog.Created).format('MM/DD/YYYY h:mm a')}}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br/>
            <div class="row" ng-if="ctrl.userInfo.userName">
                <div class="col-sm-12 col-md-12 col-lg-12 text-center">
                    <h4 class="text-center">Tasks Map</h4>
                    <div class="tasks-map">
                        <div ng-repeat="row in ctrl.groupedTasks track by $index"
                            ng-init="parentIdx = $index"
                            class="tasks-map-row" ng-class="{'reverse': $index%2!=0}">
                            <div class="map-item text-center bg-color-{{$index}}" 
                                ng-repeat="item in row track by $index"
                                ng-style="{'background-color': ctrl.colorArr[$index]}"
                                ng-init="isHover = false"
                                ng-mouseenter="isHover = true"
                                ng-mouseleave="isHover = false"
                                ng-class="{
                                    'not-completed': (!isHover && !ctrl.checkTask(item.Title, item.BadgeId)),
                                    'first-map-item': (parentIdx==0 && $index==0),
                                    'end-bottom': (parentIdx%2==0 && $index==4),
                                    'end-top': (parentIdx%2!=0 && $index==0),
                                    'start-bottom': ((parentIdx%2!=0 && $index==4)),
                                    'start-top': (parentIdx!=0 && parentIdx%2==0 && $index==0),
                                    'last-map-item': (parentIdx==ctrl.groupedTasks.length-1 && $index==row.length-1)
                                }"
                            >
                                <!-- <span class="glyphicon glyphicon-star" 
                                    ng-if="ctrl.checkTask(item.Title, item.BadgeId)">
                                </span> -->
                                <img 
                                    class="avatar-image" 
                                    ng-src="{{ctrl.userInfo.avatar.Url}}"
                                    ng-if="ctrl.checkTask(item.Title, item.BadgeId) && ctrl.getLastCompletedTask() == item.Id"
                                >
                                <div class="snackbar">{{item.Badge.Title}}: {{item.Title}}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>