#manager {
    margin: 0 20px;
}
#manager .navbar, #manager>h2 {
    width: 100%;
}
@media (min-width: 768px){
	.navbar-toggle {
		display: none;
	}
}
.b [uib-typeahead-popup].dropdown-menu {
    display: block;
}
#manager {
    display: flex;
    flex-wrap: wrap;

}
#manager .credits-info {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 5px;
}
#manager .user-info {
    padding: 20px;
    box-shadow: 0 0 10px 0px;
    border-radius: 5px;
}
.manager-users .table > tbody > tr > td {
    vertical-align: middle;
    text-align: center;
}
.manager-users .table > tbody > tr > th {
    text-align: center;
}
.manager-users .manage-user>i {
    cursor: pointer;
    color: rgb(36, 86, 152);
}
.user-info .user-icon{
    width: 150px;
    background-size: cover;
    background-position: center;
    margin: auto;
}
.user-info .user-icon:after{
    content:'';
    display: block;
    padding-bottom: 100%;
}
#manager .avatar .user-icon{
    width: 100px;
}
#manager .rank-label-container {
    font-size: 18px;
}
#manager  .user-container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
}
#manager .user-container>img, 
#manager .user-container>div{
    display: flex;
}
#manager .user-container>img {
    flex: 0 25%;
    max-width: 36px;
}
#manager .user-container>div {
    flex: 0 75%;
    padding-left: 10px;
    box-sizing: border-box;
}
#select-user-container {
    position: relative;
}
#select-user-container .clear-user {
    position: absolute;
    right: 5px;
    top: 32px;
    color: red;
    opacity: 0.5;
    cursor: pointer;
}
#select-user-container .clear-user:hover {
    opacity: 1;
}

.snackbar {
    visibility: hidden;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 4px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: -35px;
    font-size: 17px;
    display: none;
    white-space: nowrap;
}
.recent-container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #eee;
}
.recent-container>div{
    display: flex;
    flex: 0 50%;
    align-items: center;
    justify-content: center;
}
.recent-container .recent-badge-icon {
    width: 72px;
}
.recent-activity{
    padding: 20px;
    box-shadow: 0 0 10px 0px;
    border-radius: 5px;
}
#manager .user-info .badges-item {
    display: inline-block;
    margin: 5px 10px;
}
#manager .user-info .badges-item>img{
    width: 72px;
}

#manager .avatar-image {
    width: 32px;
}
#manager .profile-header-img i {
    cursor: pointer;
}



.badges-info {
    display: flex;
    flex-wrap: wrap;

}
.badges-info .badges-item{
    display: flex;
    flex-direction: column;
    flex: 0 22%;
    align-items: center;
    padding: 20px;
    border: 1px solid #c8c8c8;
    border-top-right-radius: 40px;
    box-shadow: 2px 2px 3px 0px;
    margin: 0 1% 1% 0;
}

.badges-info .badge-container>img{
    width: 72px;
}
.badges-info .badge-container{
    flex-grow: 1;
    width: 100%;
}
.badges-info .badge-buttons > button {
  margin-right: 5px;
}
.badges-info #spinner:hover {
    -webkit-animation-name: spinner;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-duration: 3s;

    animation-name: spinner;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-duration: 3s;

    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transform-style: preserve-3d;
  }

  /* #spinner:hover {
    -webkit-animation-play-state: paused;
    animation-play-state: paused;
  } */

@keyframes spinner {
    from {
      -moz-transform: rotateY(0deg);
      -ms-transform: rotateY(0deg);
      transform: rotateY(0deg);
    }
    to {
      -moz-transform: rotateY(-360deg);
      -ms-transform: rotateY(-360deg);
      transform: rotateY(-360deg);
    }
  }
  .badges-info .badges-item .btn{
      position: relative;
  }
  .badges-info .snackbar {
    visibility: hidden;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 4px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    top: 0px;
    font-size: 17px;
    display: none;
  }
  
  .badges-info .snackbar.show {
    visibility: visible;
    display: block;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
  }
  
  
  @-webkit-keyframes fadein {
    from {top: 40px; opacity: 0;} 
    to {top: 0; opacity: 1;}
  }
  
  @keyframes fadein {
    from {top: 40px; opacity: 0;} 
    to {top: 0; opacity: 1;}
  }
  
  @-webkit-keyframes fadeout {
    from {top: 0; opacity: 1;} 
    to {top: 40px; opacity: 0;}
  }
  
  @keyframes fadeout {
    from {top: 0; opacity: 1;} 
    to {top: 40px; opacity: 0;}
  }

  @media only screen and (max-width: 1199px) {
    .badges-info .badges-item{
        flex: 0 100%;
        margin-bottom: 20px;
    }
}