<ng-form class="request-form" name="requestForm">
    <div class="form-horizontal" ng-if="ctrl.stage==1">
        <div class="row">
            <div class="col-sm-12">
                <h2 class="form-title">LOB Training Request Form</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <h3 class="section-header">Requestor Information</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 col-md-6">
                <div class="form-group">
                    <div class="col-sm-4"> 
                        <label for="Employee" class="control-label required">Employee</label>
                    </div>
                    <div class="col-sm-8">
                        <input 
                            class="form-control" 
                            name="Employee"
                            id="Employee" 
                            ng-model="ctrl.item.Employee.Title" 
                            readonly
                        />
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-4">
                        <label for="EmployeeEmail" class="control-label ">Email</label>
                    </div>
                    <div class="col-sm-8">
                        <input 
                            class="form-control" 
                            name="EmployeeEmail"
                            id="EmployeeEmail" 
                            ng-model="ctrl.item.EmployeeEmail" 
                            readonly
                        />
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-4">
                        <label for="EmployeeLineOfBusiness" class="control-label ">Line of Business</label>
                    </div>
                    <div class="col-sm-8">
                        <input 
                            class="form-control" 
                            name="EmployeeLineOfBusiness"
                            id="EmployeeLineOfBusiness" 
                            ng-model="ctrl.item.EmployeeLineOfBusiness" 
                            readonly
                        />
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-6">
                <div class="form-group">
                    <div class="col-sm-4">
                        <label for="RequestDate" class="control-label required">Request Date</label>
                    </div>
                    <div class="col-sm-8">
                        <input 
                            class="form-control" 
                            name="RequestDate"
                            id="RequestDate" 
                            ng-model="ctrl.item.RequestDate" 
                            readonly
                        />
                    </div>
                </div>
                <!--<div class="form-group">
                    <div class="col-sm-4">
                        <label for="RoleForCourse" class="control-label required">Your Role for the course</label>
                    </div>
                    <div class="col-sm-8">
                        <label class="radio-inline">
                            <input type="radio" name="RoleForCourseRadioOptions" ng-model="ctrl.item.RoleForCourse" value="Requester" disabled> Requester
                        </label>
                        <label class="radio-inline">
                            <input type="radio" name="RoleForCourseRadioOptions" ng-model="ctrl.item.RoleForCourse" value="Instructor" disabled> Allow Instructors
                        </label>
                    </div>
                </div>-->
                <div class="form-group">
                    <div class="col-sm-4">
                        <label for="RoleForCourseUser" class="control-label ">Instructor</label>
                    </div>
                    <div class="col-sm-8">
                        <input 
                            class="form-control" 
                            name="RoleForCourseUser"
                            id="RoleForCourseUser" 
                            ng-model="ctrl.item.RoleForCourseUser.Title" 
                            readonly
                        />
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <h3 class="section-header">Request Type</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="form-group">
                    <div class="col-sm-12"> 
                        <label class="checkbox-inline" ng-repeat="choice in ctrl.item.RequestType track by $index">
                            <input 
                                type="checkbox" 
                                ng-value="choice"
                                ng-checked="ctrl.item.RequestType.indexOf(choice) > -1"
                                disabled
                            > {{choice}}
                        </label>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <h3 class="section-header">Course Information</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 col-md-6">
                <div class="form-group">
                    <div class="col-sm-4">
                        <label for="BlendedCourseType" class="control-label required">Blended Course Type</label>
                    </div>
                    <div class="col-sm-8">
                        <input 
                            class="form-control" 
                            name="BlendedCourseType"
                            id="BlendedCourseType" 
                            ng-model="ctrl.item.BlendedCourseType" 
                            readonly
                        />
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-4">
                        <label for="Topics" class="control-label required">Topics</label>
                    </div>
                    <div class="col-sm-8">
                        <input 
                            class="form-control" 
                            name="Topic"
                            id="Topic" 
                            ng-model="ctrl.item.Topic.Title" 
                            readonly
                        />
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-4">
                        <label for="CourseNumber" class="control-label ">Course Number</label>
                    </div>
                    <div class="col-sm-8">
                        <input 
                            class="form-control" 
                            name="Topic"
                            id="Topic" 
                            ng-model="ctrl.item.Topic.CourseNumber" 
                            readonly
                        />
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-4">
                        <label for="CourseTitle" class="control-label required">Course Title</label>
                    </div>
                    <div class="col-sm-8">
                        <input 
                            class="form-control" 
                            name="CourseTitle"
                            id="CourseTitle" 
                            ng-model="ctrl.item.CourseTitle" 
                            readonly
                        />
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-6">
                <div class="form-group">
                    <div class="col-sm-4">
                        <label for="WaitlistCapacity" class="control-label ">Waitlist Capacity</label>
                    </div>
                    <div class="col-sm-8">
                        <input 
                            class="form-control" 
                            name="WaitlistCapacity"
                            id="WaitlistCapacity" 
                            ng-model="ctrl.item.WaitlistCapacity" 
                            readonly
                        />
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-4">
                        <label for="EffectiveDate" class="control-label ">Effective Date</label>
                    </div>
                    <div class="col-sm-8">
                        <input 
                            class="form-control" 
                            name="EffectiveDate"
                            id="EffectiveDate" 
                            ng-model="ctrl.item.EffectiveDate" 
                            readonly
                        />
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-4">
                        <label for="CourseTimeValue" class="control-label ">Time Value </label>
                    </div>
                    <div class="col-sm-8">
                        <input 
                            class="form-control" 
                            name="CourseTimeValue"
                            id="CourseTimeValue" 
                            ng-model="ctrl.item.CourseTimeValue" 
                            readonly
                        />
                    </div>
                </div>
            </div>
            <div class="col-sm-12">
                <div class="form-group">
                    <div class="col-sm-12">
                        <label for="CourseDescription" class="control-label required">Course Description/Learning Objectives</label>
                        <p ng-bind-html="ctrl.item.CourseDescription"></p>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="form-group">
                    <div class="col-sm-12 text-center">
                        <button type="button" class="btn btn-primary" ng-click="ctrl.stage=2">Next</button>
                        <a class="btn btn-default" href="/teams/HCInt/Learn/LobTR/">Cancel</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="form-horizontal" ng-if="ctrl.stage==2">
        <div class="row">
            <div class="col-sm-12">
                <h2 class="form-title">LOB Training Request Form</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <h3 class="section-header">Scheduled Offering Details</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 col-md-6">
                <div class="form-group">
                    <div class="col-sm-4">
                        <label for="NumberOfOfferingsToSchedule" class="control-label required">Number of Offerings to Schedule</label>
                    </div>
                    <div class="col-sm-8">
                        <input type="number" 
                            name="NumberOfOfferingsToSchedule" 
                            class="form-control" 
                            ng-model="ctrl.item.NumberOfOfferingsToSchedule" 
                            readonly
                        >
                    </div>
                </div>
            </div>
        </div>
        <div class="row" ng-if="ctrl.item.NumberOfOfferingsToSchedule && ctrl.item.NumberOfOfferingsToSchedule > 5">
            <div class="col-sm-12">
                <div class="col-sm-12">
                    <div class="form-group">
                        <label for="Attachment" class="control-label">
                            Attachment
                        </label>
                        <p></p>
                        <p ng-repeat="file in ctrl.$AttachmentFile track by $index">
                            <a ng-href="{{file.url}}" target="_blank">
                                <input type="text" 
                                    class="form-control" 
                                    ng-value="file.$file.name" 
                                    disabled
                                    style="width: 250px;cursor:pointer;"
                                >
                            </a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" ng-if="ctrl.NumberOfOfferingsToScheduleArr.length && ctrl.NumberOfOfferingsToScheduleArr.length <= 5">
            <div class="col-sm-12">
                <div class="navigation-tabs">
                    <ul class="nav nav-tabs">
                        <li role="presentation" 
                            ng-repeat="item in ctrl.NumberOfOfferingsToScheduleArr track by $index"
                            ng-class="{'active': ctrl.selectetTab == $index}"
                            ng-click="ctrl.selectetTab = $index"
                        >
                            <div>Offering {{$index+1}}</div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-12"><br/></div>
            <div class="col-sm-12 col-md-6">
                <div class="form-group">
                    <div class="col-sm-4">
                        <label for="Instructor" class="control-label required">Instructor</label>
                    </div>
                    <div class="col-sm-8">
                        <input 
                            class="form-control" 
                            name="Employee"
                            id="Employee" 
                            ng-model="ctrl.NumberOfOfferingsToScheduleArr[ctrl.selectetTab].Instructor.Title" 
                            readonly
                        />
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-4">
                        <label for="ClassStartEndDateTime" class="control-label required">Class Start and End Date and Time</label>
                    </div>
                    <div class="col-sm-8">
                        <textarea rows="3" 
                            name="ClassStartEndDateTime{{ctrl.selectetTab}}" 
                            id="ClassStartEndDateTime" 
                            class="form-control" 
                            ng-model="ctrl.NumberOfOfferingsToScheduleArr[ctrl.selectetTab].ClassStartEndDateTime"
                            readonly
                        ></textarea>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-6">
                <div class="form-group">
                    <div class="col-sm-4">
                        <label for="MinimumEnrollmentCapacity" class="control-label required">Minimum Enrollment Capacity</label>
                    </div>
                    <div class="col-sm-8">
                        <input type="number" class="form-control" ng-model="ctrl.NumberOfOfferingsToScheduleArr[ctrl.selectetTab].MinimumEnrollmentCapacity" readonly>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-4">
                        <label for="MaximumEnrollmentCapacity" class="control-label required">Maximum Enrollment Capacity</label>
                    </div>
                    <div class="col-sm-8">
                        <input type="number" class="form-control" ng-model="ctrl.NumberOfOfferingsToScheduleArr[ctrl.selectetTab].MaximumEnrollmentCapacity" readonly>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-4">
                        <label for="EnableAutoEnrollmentWaitlist" class="control-label">Enable Auto-Enrollment from the Waitlist</label>
                    </div>
                    <div class="col-sm-8">
                        <input 
                            class="form-control" 
                            name="EnableAutoEnrollmentWaitlist{{ctrl.selectetTab}}"
                            id="EnableAutoEnrollmentWaitlist" 
                            ng-model="ctrl.NumberOfOfferingsToScheduleArr[ctrl.selectetTab].EnableAutoEnrollmentWaitlist" 
                            readonly
                        />                        
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="row" ng-if="ctrl.NumberOfOfferingsToScheduleArr.length && ctrl.NumberOfOfferingsToScheduleArr.length <= 5">
            <div class="col-sm-12">
                <h3 class="section-header">Training Site</h3>
            </div>
        </div>
        <div class="row" ng-if="ctrl.NumberOfOfferingsToScheduleArr.length && ctrl.NumberOfOfferingsToScheduleArr.length <= 5 && ctrl.item.BlendedCourseType=='Webinar ILT'">
            <div class="col-sm-12 col-md-6">
                <div class="form-group">
                    <div class="col-sm-4">
                        <label for="WebinarURL" class="control-label required">Webinar URL (if applicable)</label>
                    </div>
                    <div class="col-sm-8">
                        <input 
                            class="form-control" 
                            name="WebinarURL"
                            id="WebinarURL" 
                            ng-model="ctrl.NumberOfOfferingsToScheduleArr[ctrl.selectetTab].WebinarURL" 
                            readonly
                        /> 
                    </div>
                </div>
            </div>
        </div>
        <div class="row" ng-if="ctrl.NumberOfOfferingsToScheduleArr.length && ctrl.NumberOfOfferingsToScheduleArr.length <= 5 && ctrl.item.BlendedCourseType!='Webinar ILT'">
            <div class="col-sm-12 col-md-6">
                <div class="form-group" >
                    <div class="col-sm-4">
                        <label for="Affiliate" class="control-label required">Affiliate</label>
                    </div>
                    <div class="col-sm-8">
                        <input 
                            class="form-control" 
                            id="Affiliate" 
                            ng-model="ctrl.NumberOfOfferingsToScheduleArr[ctrl.selectetTab].Affiliate" 
                            readonly
                        /> 
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-4">
                        <label for="WebinarURL" class="control-label">Webinar URL (if applicable)</label>
                    </div>
                    <div class="col-sm-8">
                        <input 
                            class="form-control" 
                            name="WebinarURL"
                            id="WebinarURL" 
                            ng-model="ctrl.NumberOfOfferingsToScheduleArr[ctrl.selectetTab].WebinarURL" 
                            readonly
                        /> 
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-4">
                        <label for="TrainingRoomReserved" class="control-label required">Training Room Reserved</label>
                    </div>
                    <div class="col-sm-8">
                        <input 
                            class="form-control" 
                            name="TrainingRoomReserved{{ctrl.selectetTab}}"
                            id="TrainingRoomReserved" 
                            ng-model="ctrl.NumberOfOfferingsToScheduleArr[ctrl.selectetTab].TrainingRoomReserved.Title" 
                            readonly
                        />
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-6">
                <div class="form-group">
                    <div class="col-sm-4">
                        <label for="TrainingRoomName" class="control-label required">Training Room Name</label>
                    </div>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" ng-model="ctrl.NumberOfOfferingsToScheduleArr[ctrl.selectetTab].TrainingRoomName" readonly>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-4">
                        <label for="Floor" class="control-label required">Floor</label>
                    </div>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" ng-model="ctrl.NumberOfOfferingsToScheduleArr[ctrl.selectetTab].Floor" readonly>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-4">
                        <label for="Address" class="control-label required">Address</label>
                    </div>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" ng-model="ctrl.NumberOfOfferingsToScheduleArr[ctrl.selectetTab].Address" readonly>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-4">
                        <label for="City" class="control-label required">City</label>
                    </div>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" ng-model="ctrl.NumberOfOfferingsToScheduleArr[ctrl.selectetTab].City" readonly>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-4">
                        <label for="State" class="control-label required">State</label>
                    </div>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" ng-model="ctrl.NumberOfOfferingsToScheduleArr[ctrl.selectetTab].State" readonly>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-4">
                        <label for="Zip" class="control-label required">Zip</label>
                    </div>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" ng-model="ctrl.NumberOfOfferingsToScheduleArr[ctrl.selectetTab].Zip" readonly>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <h3 class="section-header">Additional Details</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="form-group">
                    <div class="col-sm-12">
                        <textarea rows="3" 
                            name="AdditionalDetails" 
                            id="AdditionalDetails" 
                            class="form-control" 
                            ng-model="ctrl.item.AdditionalDetails"
                            readonly
                        ></textarea>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="form-group">
                    <div class="col-sm-12 text-center">
                        <button type="button" class="btn btn-primary" ng-click="ctrl.stage=1">Back</button>
                        <a class="btn btn-default" href="/teams/HCInt/Learn/LobTR/">Cancel</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ng-form>

<div class="row">
    <div class="col-sm-12 text-center" ng-bind-html="ctrl.trustHtml(ctrl.lobTrainingText.Body)">
    </div>
</div>