.topic-container {
    list-style: none;
    margin-bottom: 10px;
    padding-bottom: 5px;
    border-bottom: 1px solid #b5b5b5;
}
.topic-title {
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
}
 .topic-description {
    
}
.img-overview {
    background-color: rgba(255,255,255,0.3);
}