<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <h3 class="modal-title" id="modal-title">I'm a modal!</h3>
</div>
<div class="modal-body" id="modal-body">
    <!-- <ul>
        <li ng-repeat="item in $ctrl.items">
            <a href="#" ng-click="$event.preventDefault(); $ctrl.selected.item = item">{{ item }}</a>
        </li>
    </!-->
</div>
<div class="modal-footer">
    <button class="btn btn-warning" type="button" ng-click="ctrl.cancel()">Close</button>
</div>