<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <h2 class="modal-title" id="modal-title">Leading at Fifth Third</h2>
</div>
<div class="modal-body" id="modal-body">
    <div class="col-sm-12 text-center">
        <h2>{{ctrl.item.ParentLink.Title}}</h2>
    </div>
    <div class="col-sm-12 col-md-12 col-lg-6">
        <div>
            <img style="max-width:100%;" ng-src="{{{{ctrl.item.Image ? ctrl.item.Image.Url : ''}}}}">
        </div>
        <div class="img-overview">
            <div>{{ctrl.item.Title}}</div>
        </div>
    </div>
    <div class="col-sm-12 col-md-12 col-lg-6">
        <div><h3>Topics</h3></div>
        <ul ng-if="ctrl.items.length">
            <li ng-repeat="item in ctrl.items track by $index" class="topic-container" ng-init="hide=true">
                <div ng-click="hide=!hide" data-toggle="collapse" data-target="{{'#desc'+$index}}" class="topic-title">{{item.Title}}
                    <span class="glyphicon" ng-class="{'glyphicon-chevron-down': hide, 'glyphicon-chevron-up': !hide}"></span>
                </div>
                <div class="topic-description collapse" id="{{'desc'+$index}}">
                    {{item.Description}}
                </div>
            </li>
        </ul>
    </div>
    
    <div ng-if="ctrl.items.length == 0">No topics for this card.</div>
</div>
<div class="modal-footer">
    <button class="btn btn-warning" type="button" ng-click="ctrl.cancel()">Close</button>
</div>