<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <h3 class="modal-title" id="modal-title">Topics</h3>
</div>
<div class="modal-body" id="modal-body">
    <ul ng-if="ctrl.items.length">
        <li ng-repeat="item in ctrl.items track by $index" class="topic-container" ng-init="hide=true">
            <div ng-click="hide=!hide" data-toggle="collapse" data-target="{{'#desc'+$index}}" class="topic-title">{{item.Title}}
                <span class="glyphicon" ng-class="{'glyphicon-chevron-down': hide, 'glyphicon-chevron-up': !hide}"></span>
            </div>
            <div class="topic-description collapse" id="{{'desc'+$index}}">
                {{item.Description}}
            </div>
        </li>
        
    </ul>
    <div ng-if="ctrl.items.length == 0">No topics for this card.</div>
</div>
<div class="modal-footer">
    <button class="btn btn-warning" type="button" ng-click="ctrl.cancel()">Close</button>
</div>