<!-- <div id="retail-topics">
	<div class="container">
		<div>
			<a href="#/">
				<i class="glyphicon glyphicon-arrow-left"></i>
				Back
			</a>
		</div>
		<div class="tiles-container">
			<div class="tile-container" ng-repeat="topic in ctrl.allRetailTopics track by $index">
				<a ng-href="{{'#/retail-learning/'+topic.Id}}">
					<div class="tile-image" style="background-image: url('{{topic.Image ? topic.Image.Url : ctrl.defaultImage}}')"></div>
					<div class="tile-title">{{topic.Title}}</div>
				</a>
			</div>
		</div>
	</div>
</div> -->
<div id="retail-topics">
    <div class="container">
		<div>
			<a href="#/">
				<i class="glyphicon glyphicon-arrow-left"></i>
				Back
			</a>
		</div>
        <div class="image-container">
            <div class="">
                <a
					ng-href="{{'#/retail-learning/'+i.Id}}"
                    class="masonry-item"
                    ng-repeat="i in ctrl.allRetailTopics"
                    ng-style="{'height': i.Height, 'background-image': 'url({{i.Image ? i.Image.Url : ctrl.defaultImage}})'}"
                >
                    <div class="tile-title">{{i.Title}}</div>
                </a>
            </div>
        </div>
    </div>
</div>
