#retail-topics a {
    text-decoration: none;
}
#retail-topics .tiles-container {
    margin: 10px 0;
}
#retail-topics .tile-container {
    position: relative;
    display: inline-block;
    widows: 20%;
    max-width: 150px;
    margin-left: 2%;
}
#retail-topics .tile-container:first-child {
    margin-left: 0;
}

#retail-topics .tile-image {
    background-position: center;
    background-size: 70%;
}
#retail-topics .tile-container:hover .tile-image {
    background-size: 100%;
}
#retail-topics .tile-image:after{
    content: "";
    display: block;
    padding-bottom: 100%; 
}
#retail-topics .tile-title {
    position: absolute;
    bottom: 0;
    padding: 5px;
    background-color: rgba(50,50,50,0.5);
    color: #fff;
    font-size: 14px;
    height: 2px;
}
#retail-topics .tile-container:hover .tile-title {
    height: auto;
}