#retail-topics a {
    text-decoration: none;
}
#retail-topics .tiles-container {
    margin: 10px 0;
}
#retail-topics .tile-container {
    position: relative;
    display: inline-block;
    width: 20%;
    max-width: 200px;
}
#retail-topics .tile-container a {
	display: block;
    width: 100%;
    padding: 5%;
}
#retail-topics .tile-container:first-child {
    margin-left: 0;
}

#retail-topics .tile-image {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
#retail-topics .tile-container:hover .tile-image {
    background-size: 200%;
}
#retail-topics .tile-image:after{
    content: "";
    display: block;
    padding-bottom: 100%; 
}
#retail-topics .tile-title {
    position: absolute;
    bottom: 0;
    padding: 5px;
    background-color: rgba(18, 80, 189, 0.5);
    color: #fff;
    font-size: 14px;
    /*height: 2px;*/
    width: 90%;
}
#retail-topics .tile-container:hover .tile-title {
    height: auto;
}