<div id="retail-topics">
    <div class="container">
		<div>
			<a href="#/">
				<i class="glyphicon glyphicon-arrow-left"></i>
				Back
			</a>
		</div>
        <div class="image-container" ng-if="ctrl.allRetailTopics.length">
			<div class="grid">
				<div class="grid__container">
					<div class="box " ng-repeat="i in ctrl.allRetailTopics track by $index" ng-class="{'box_size_2x2': $index == 0}">
						<a ng-href="{{i.Link ? i.Link.Url : '#'}}">
							<div class="box__helper">
								<div class="box__content" ng-style="{'background-image': 'url({{i.Image.Url}})'}">{{i.Title}}</div>
							</div>
						</a>
						</div>
				</div>
			</div>
		</div>
		<div ng-if="!ctrl.allRetailTopics.length">
			<p>No items!</p>
		</div>
    </div>
</div>
