/* #retail-topics a {
    text-decoration: none;
}
#retail-topics .tiles-container {
    margin: 10px 0;
}
#retail-topics .tile-container {
    position: relative;
    display: inline-block;
    width: 20%;
    max-width: 200px;
}
#retail-topics .tile-container a {
	display: block;
    width: 100%;
    padding: 5%;
}
#retail-topics .tile-container:first-child {
    margin-left: 0;
}

#retail-topics .tile-image {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
#retail-topics .tile-container:hover .tile-image {
    background-size: 200%;
}
#retail-topics .tile-image:after{
    content: "";
    display: block;
    padding-bottom: 100%; 
}
#retail-topics .tile-title {
    position: absolute;
    bottom: 10px;
    padding: 5px;
    background-color: rgba(18, 80, 189, 0.5);
    color: #fff;
    font-size: 14px;
    width: 90%;
}
#retail-topics .tile-container:hover .tile-title {
    height: auto;
} */
#retail-topics .image {
    text-decoration: none;
  }
  #retail-topics .image-container {
    border: 10px solid #000;
    max-width: 826px;
  }
  #retail-topics .image-container>div {
    border: 3px solid #fff;
    background-color: #000;
  }
  #retail-topics .image-container>div {
      -webkit-columns: 200px;
      -webkit-column-gap: 0;
      -moz-columns: 200px;
      -moz-column-gap: 0;
      columns: 200px;
      column-gap: 0;
  }
  #retail-topics .masonry-item {
    background-size: cover;
    background-position: 50% 50%;
    display: block;
    position: relative;
    border: 2px solid #d0d0d0;
    -webkit-column-break-inside: avoid;
    page-break-inside: avoid;
    break-inside: avoid;
    overflow: hidden;
  }
  
  #retail-topics .tile-title {
      position: absolute;
      bottom: 0px;
      padding: 5px;
      background-color: rgba(18, 80, 189, 0.5);
      color: #fff;
      font-size: 14px;
      /* height: 2px; */
      width: 100%;
  }
  #retail-topics .masonry-item:hover .tile-title {
      height: auto;
  }
  
  #retail-topics .image-container img {
    /* Just in case there are inline attributes */
    width: 100%;
    height: auto;
  }

  @media (max-width: 800px) {
    #retail-topics .image-container {
        max-width: 426px;
    }
  }
  @media (max-width: 400px) {
    #retail-topics .image-container {
        max-width: 226px;
    }
  }
  