.menu {
    font-weight: 100;
    background: #FF8800;
    width: 150px;
    height: 100%;
    padding-left: 30px;
    position: fixed;
    z-index: 100;
    -webkit-box-shadow: -3px 0px 5px 0px rgba(0, 0, 0, 0.2);
    box-shadow: -3px 0px 5px 0px rgba(0, 0, 0, 0.2);
    right: -120px;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    color: #222;
    border-radius: 8px;
}
.menu:hover, .menu:focus {
    transform: translate3d(-120px, 0, 0);
    animation-timing-function: 1s ease-in;
}
.menu .title {
    top: 50%;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    transform: rotate(270deg);
    left: 10px;
    font-weight: 800;
    font-size: 15px;
}
.menu .navigation {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    font-weight: 100;
}
.menu .navigation li {
    padding-bottom: 30px;
    list-style-type: none;
}
.menu .navigation li a {
    display: block;
    text-decoration: none;
    color: inherit;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
}
.menu .navigation li a:hover {
    color: #aaa;
}
.intro {
    position: absolute;
    top: 30%;
    margin: 0 auto;
    left: 0;
    right: 0;
    font-size: 45px;
    text-align: center;
    font-style: italic;
}