<div class="recent-badges">
    <div class="section-title">
        Recently added to system badges
    </div>
    <div class="">
        <div class="recent-badges-container">
            <div class="badges-item  text-center" ng-repeat="badge in ctrl.allBadges | orderBy: '-Created' track by $index" ng-if="$index<3">
                <img class="img-circle" ng-src="{{badge.Icon.Url}}" id="spinner"/>
                <div class="rank-label-container">
                    <div>{{badge.Title}}</div>
                    <div>{{badge.Created | date}}</div>
                </div>
            </div>
        </div>
        <div class="recent-badges-header">
            <div>&nbsp;</div>
            <div >
                <a class="btn btn-success" href="Badges.aspx">View Badges</a>
            </div>
        </div>
    </div>
</div>
