<div class="recent-badges">
    <div class="">
        <div class="recent-badges-header">
            <div>Recent Badges</div>
            <div >
                <a class="btn btn-success">View Badges</a>
            </div>
        </div>
        <div>
            <div class="badges-item  text-center" ng-repeat="badge in ctrl.allBadges track by $index">
                <img class="img-circle" ng-src="{{badge.Icon.Url}}" />
                <div class="rank-label-container">
                    <div>{{badge.Title}}</div>
                    <div>10/12/18</div>
                </div>
            </div>
        </div>
    </div>
</div>
