<div>
    <div>
        <a href="#/" class="dbutton">Back</a>
    </div>
    <div class="wrapper">
        <div class="tile job-bucket"  ng-repeat="link in ctrl.allLinks track by $index">
            <div class="front">
                <div class="contents"> 
                        <img ng-src="{{link.Image ? link.Image.Url : ''}}" alt=""/>  
                    <p> &#160;</p>
                    <h3>{{link.Title}}</h3>
                    <p>{{link.Description}}</p> 
                    <br/> 
                    <a ng-href="{{link.Link ? link.Link.Url : ''}}">{{link.LinkTitle}}</a>
                </div>
            </div>
            <div class="back">
                <h3>{{link.BackTitle}}</h3> 
                </p>{{link.BackDescription}}</p> 
                <a style="cursor:pointer;" href="#" ng-click="ctrl.open($event, link)">{{link.BackLinkTitle}}</a>
                <!-- <a style="cursor:pointer;" ng-href="{{'#/retail-learning/'+link.Id}}">{{link.BackLinkTitle}}</a> -->
            </div>
        </div>        
    </div>
</div>