#navigation{

}
.b .dropdown:hover .dropdown-menu {
  display: block;
}
.b .navbar-default .navbar-nav > .active > a, 
.b .navbar-default .navbar-nav > .active > a:hover, 
.b .navbar-default .navbar-nav > .active > a:focus {
    background-color: #4caf50;
    color: #fff;
}
.b .navbar-default .navbar-nav > li > a {
    font-size: 17px;
    color: #fff;
}
.b .navbar-default {
    background-color: #333;
    border: none;
}
.b .navbar-default .navbar-nav > .open > a, 
.b .navbar-default .navbar-nav > .open > a:hover, 
.b .navbar-default .navbar-nav > .open > a:focus {
    color: #fff;
    background-color: #4caf50;
}
.b .navbar-default .navbar-nav > li > a:hover, 
.b .navbar-default .navbar-nav > li > a:focus {
    color: #fff;
    background-color: #4caf50;
}
.b .dropdown-menu > li > a {
    font-size: 17px;
}