#retail-topics .image {
    text-decoration: none;
}
#retail-topics .image-container {
    max-width: 600px;
    padding: 10px;
    border: 2px solid #818181;
}
.row-container {
    display: flex;

}
.row-reverse {
    flex-direction: column-reverse;
}
#retail-topics .image {
    display: inline-block;
}
#retail-topics .image:nth-child(3n+1) {
    background: red;
    min-width: 33.3%;
    flex: 1 33.3%;
    height: 100px;
}
#retail-topics .image:nth-child(3n+2) {
    background: yellow;
    min-width: 33.3%;
    flex: 1 33.3%;
    height: 75px;
}
#retail-topics .image:nth-child(3n+3) {
    background: green;
    min-width: 33.3%;
    flex: 1 33.3%;
    height: 50px;
}
#retail-topics .tiles-container {
    margin: 10px 0;
}
#retail-topics .tile-container {
    position: relative;
    display: inline-block;
    width: 20%;
    max-width: 200px;
}
#retail-topics .tile-container a {
	display: block;
    width: 100%;
    padding: 5%;
}
#retail-topics .tile-container:first-child {
    margin-left: 0;
}

#retail-topics .tile-image {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
#retail-topics .tile-container:hover .tile-image {
    background-size: 200%;
}
#retail-topics .tile-image:after{
    content: "";
    display: block;
    padding-bottom: 100%; 
}
#retail-topics .tile-title {
    position: absolute;
    bottom: 10px;
    padding: 5px;
    background-color: rgba(18, 80, 189, 0.5);
    color: #fff;
    font-size: 14px;
    /*height: 2px;*/
    width: 90%;
}
#retail-topics .tile-container:hover .tile-title {
    height: auto;
}