#retail-topics .image {
  text-decoration: none;
}
#retail-topics .image-container {
  border: 10px solid #000;
  max-width: 826px;
}
#retail-topics .image-container>div {
  border: 3px solid #fff;
  background-color: #000;
}
#retail-topics .image-container>div {

}
#retail-topics .masonry-item {
  background-size: cover;
  background-position: 50% 50%;
  display: inline-block;
  vertical-align: top;
  position: relative;
  border: 2px solid #d0d0d0;
  overflow: hidden;
}

#retail-topics .tile-title {
  padding: 5px;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  width: 100%;
}
#retail-topics .masonry-item:hover .tile-title {
    height: auto;
}

#retail-topics .image-container img {
  /* Just in case there are inline attributes */
  width: 100%;
  height: auto;
}

@media (max-width: 800px) {
  #retail-topics .image-container>div {
    max-width: 426px;
  }
}
@media (max-width: 400px) {
  #retail-topics .image-container>div {
    max-width: 226px;
  }
}



/*  */
.grid {
  box-sizing: border-box;
  width: 50%;
  background: black;
  padding: 10px;

  position: relative;
  left: 250px;
}
.grid__container {
  display: flex;
  flex-wrap: wrap;
  border: 2px solid #ffffff;
}

.box {
  position: relative;
  box-sizing: border-box;
  width: 20%;
  opacity:0.6;
}
.box::before {
  content: '';
  position: relative;
  width: 100%;
  display: block;
  height: 0;
  padding-bottom: 100%;
}
.box:hover {

  opacity:1

}


.box__helper {
  height: 0;
  width: 100%;
  padding-bottom: 100%;
  position: absolute;
  left: 0;
  top: 0;
}
.box__content {
  border: 2px solid #ffffff;
  padding: 0.5em 1em;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}
.box_size_3x3 {
  width: 60%;
}
.box_size_3x3 + .box + .box {
  margin-top: -40%;
}
.box_size_3x3 + .box + .box + .box {
  margin-top: -40%;
  margin-left: 60%;
}
.box_size_2x2 {
  width: 40%;
}
.box_size_2x2::before {
  padding-bottom: 50%;
}
.box_size_2x2 + .box + .box + .box + .box {
  margin-left: 40%;
}
.box_size_2x1 {
  width: 40%;
}
.box_size_2x1::before {
  padding-bottom: 50%;
}
.box_size_2x1 .box__helper {
  padding-bottom: 50%;
}

.box__content {
  font-size: 24px;
  /*background-color: #252525;*/
  color: #ffffff;
  text-shadow: 2px 2px #000000;
  
}

