<div id="retail-topics">
    <div class="container">
        <div class="image-container">
            <div class="">
                <a
                    ng-href="{{i.Link ? i.Link.Url : '#'}}"
                    class="masonry-item"
                    ng-repeat="i in ctrl.allRetailTopics"
                    ng-style="{'width': '200px', 'height': i.Height, 'background-image': 'url({{i.Image.Url}})'}"
                >
                    <div class="tile-title">{{i.Title}}</div>
                </a>
            </div>
        </div>
    </div>
</div>
