<div id="retail-topics">
    <div class="container">
        <div class="image-container">
            <div  class="image col-sm-4 float-left" ng-repeat="i in ctrl.allRetailTopics">
                {{item.Title}}
            </div>
        </div>
    </div>
</div>
<!-- <div class="image-container">
        <div class="row-container" ng-repeat="(i, val) in ctrl.allRetailTopics track by $index" ng-class="{'row-reverse': $index%2!=0}">
            <div class="image" ng-repeat="item in ctrl.allRetailTopics[i]">
                {{item.Title}}
            </div>
        </div>
    </div> -->