#retail-topics .image {
  text-decoration: none;
}
#retail-topics .image-container {
  border: 10px solid #000;
  max-width: 826px;
}
#retail-topics .image-container>div {
  border: 3px solid #fff;
  background-color: #000;
}
#retail-topics .image-container>div {
    -webkit-columns: 200px;
    -webkit-column-gap: 0;
    -moz-columns: 200px;
    -moz-column-gap: 0;
    columns: 200px;
    column-gap: 0;
}
#retail-topics .masonry-item {
  background-size: cover;
  background-position: 50% 50%;
  display: block;
  position: relative;
  border: 2px solid #d0d0d0;
  -webkit-column-break-inside: avoid;
  page-break-inside: avoid;
  break-inside: avoid;
  overflow: hidden;
}

#retail-topics .tile-title {
    position: absolute;
    bottom: 0px;
    padding: 5px;
    background-color: rgba(18, 80, 189, 0.5);
    color: #fff;
    font-size: 14px;
    /* height: 2px; */
    width: 100%;
}
#retail-topics .masonry-item:hover .tile-title {
    height: auto;
}

#retail-topics .image-container img {
  /* Just in case there are inline attributes */
  width: 100%;
  height: auto;
}

@media (max-width: 1200px) {
  #retail-topics .image-container>div {
    -moz-column-count: 3;
    -webkit-column-count: 3;
    column-count: 3;
  }
}
@media (max-width: 1000px) {
  #retail-topics .image-container>div {
    -moz-column-count: 3;
    -webkit-column-count: 3;
    column-count: 3;
  }
}
@media (max-width: 800px) {
  #retail-topics .image-container>div {
    max-width: 426px;
    -moz-column-count: 2;
    -webkit-column-count: 2;
    column-count: 2;
  }
}
@media (max-width: 400px) {
  #retail-topics .image-container>div {
    max-width: 226px;
    -moz-column-count: 1;
    -webkit-column-count: 1;
    column-count: 1;
  }
}
