#dashboard {
	margin: 0 20px;
}
#dashboard > div > div {
	/* display: flex;
	flex-wrap: wrap; */
}

@media (min-width: 768px){
	.navbar-toggle {
		display: none;
	}
}
.section-title{
    padding: 10px;
    margin-bottom: 20px;
    text-align: left;
    background-color: #1d4094;
    color: #fff;
    font-size: 20px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}