.badges-info {
    display: flex;
    flex-wrap: wrap;

}
.badges-info .badges-item{
    display: flex;
    flex-direction: column;
    flex: 0 22%;
    align-items: center;
    padding: 20px;
    border: 1px solid #c8c8c8;
    border-top-right-radius: 40px;
    box-shadow: 2px 2px 3px 0px;
    margin: 0 1% 1% 0;
}

.badges-info .badge-container>img{
    width: 72px;
}
.badge-container{
    flex-grow: 1;
    width: 100%;
}
.badge-buttons > button {
  margin-right: 5px;
}
#spinner:hover {
    -webkit-animation-name: spinner;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-duration: 3s;

    animation-name: spinner;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-duration: 3s;

    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transform-style: preserve-3d;
  }

  /* #spinner:hover {
    -webkit-animation-play-state: paused;
    animation-play-state: paused;
  } */

@keyframes spinner {
    from {
      -moz-transform: rotateY(0deg);
      -ms-transform: rotateY(0deg);
      transform: rotateY(0deg);
    }
    to {
      -moz-transform: rotateY(-360deg);
      -ms-transform: rotateY(-360deg);
      transform: rotateY(-360deg);
    }
  }
  .badges-item .btn{
      position: relative;
  }
  .snackbar {
    visibility: hidden;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 4px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    top: 0px;
    font-size: 17px;
    display: none;
  }
  
  .snackbar.show {
    visibility: visible;
    display: block;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
  }
  
  
  @-webkit-keyframes fadein {
    from {top: 40px; opacity: 0;} 
    to {top: 0; opacity: 1;}
  }
  
  @keyframes fadein {
    from {top: 40px; opacity: 0;} 
    to {top: 0; opacity: 1;}
  }
  
  @-webkit-keyframes fadeout {
    from {top: 0; opacity: 1;} 
    to {top: 40px; opacity: 0;}
  }
  
  @keyframes fadeout {
    from {top: 0; opacity: 1;} 
    to {top: 40px; opacity: 0;}
  }

  @media only screen and (max-width: 1199px) {
    .badges-info .badges-item{
        flex: 0 100%;
        margin-bottom: 20px;
    }
}