body {
  margin: 0;
  font: 400 16px/1.5em 'Source Sans Pro', 'Segoe UI', 'Helvetica Neue', Roboto, Arial, sans-serif;
  overflow: hidden;
  max-width: 100vw;
}
.l-accordion {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: stretch;
}
.l-accordion__slide {
  flex: 1;
  transition: 0.4s ease-in-out;
  -webkit-transform: skewX(-5deg);
          transform: skewX(-5deg);
  overflow: hidden;
  display: flex;
  border-left: 4px solid #fff;
}
[data-accordion-slide].l-accordion__slide:hover,
[data-accordion-slide].l-accordion__slide:focus {
  flex: 5;
}
.l-accordion__slide:first-child {
  border-left: 0;
  flex: 1.25;
  margin-left: -3em;
}
.l-accordion__slide:last-child {
  flex: 1.25;
  margin-right: -3em;
}
.l-accordion__inside {
  -webkit-transform: skewX(5deg);
          transform: skewX(5deg);
  padding: 4em;
  background-cover: cover;
  background-position: 50% 50%;
  margin: 0 -3em;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
[data-accordion-slide="1"] 

.l-accordion__inside {
  background-image: url("1.jpg");
  background-position: 0 50%;
}
[data-accordion-slide="2"] 

.l-accordion__inside {
  background-image: url("2.jpg");
  background-position: 27.85% 50%;
}
[data-accordion-slide="3"] 

.l-accordion__inside {
  background-image: url("3.jpg");
  background-position: 50% 50%;
}
[data-accordion-slide="4"] 

.l-accordion__inside {
  background-image: url("4.jpg");
  background-position: 72.25% 50%;
}
[data-accordion-slide="5"] 

.l-accordion__inside {
  background-image: url("5.jpg");
  background-position: 100% 50%;
}
h1 {
  margin: 0;
  color: #fff;
  font-weight: 100;
  font-size: 3.5rem;
  white-space: nowrap;
  text-align: center;
  line-height: 1;
  text-shadow: 0 0 10px rgba(0,0,0,0.5);
}
