.recent-badges {
    min-height: 100px;
    width: 100%;
    padding: 10px 20px;
    border: 1px solid #c8c8c8;
    border-top-right-radius: 40px;
    border-bottom-left-radius: 40px;
    box-shadow: 2px 2px 3px 0px;
}
.recent-badges .badges-item {
    display: inline-block;
    margin-right: 15px;
    max-width: 150px;
    vertical-align: top;
}
.recent-badges .badges-item>img{
    width: 60px;
}
.recent-badges .recent-badges-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
	font-size: 18px;
	font-weight: 600;
}
.recent-badges .recent-badges-header .btn {
    margin-right: 53px;
}
#spinner:hover {
    -webkit-animation-name: spinner;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-duration: 3s;

    animation-name: spinner;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-duration: 3s;

    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transform-style: preserve-3d;
  }

  /* #spinner:hover {
    -webkit-animation-play-state: paused;
    animation-play-state: paused;
  } */
@keyframes spinner {
    from {
      -moz-transform: rotateY(0deg);
      -ms-transform: rotateY(0deg);
      transform: rotateY(0deg);
    }
    to {
      -moz-transform: rotateY(-360deg);
      -ms-transform: rotateY(-360deg);
      transform: rotateY(-360deg);
    }
  }
  
@media only screen and (max-width: 1199px){
	.recent-badges .recent-badges-container {
	    text-align: center;
	}
}
