<div id="retail-roles">
	<div class="l-accordion">
		<div class="l-accordion__slide" ng-repeat="i in ctrl.allRetailRoles track by $index" data-accordion-slide="{{$index}}" >
			<div 
				ng-if="ctrl.allRetailCards[i.Id] && ctrl.allRetailCards[i.Id].length > 1"
				class="l-accordion__inside" 
				style="background-image: url('{{i.Image.Url}}')"
			>
                <div class="l-accordion__slide_cards">
					<div>
						<h1>{{i.Title}}</h1>
					</div>
					<br/>
                    <a ng-repeat="card in ctrl.allRetailCards[i.Id] track by $index" ng-href="{{'#/retail-topics/'+card.Id}}">
                        {{card.Title}}
                    </a>
                </div>
            </div>
            <a 
                ng-if="ctrl.allRetailCards[i.Id] && ctrl.allRetailCards[i.Id].length < 2" 
                ng-href="{{'#/retail-topics/'+ctrl.allRetailCards[i.Id][0].Id}}" 
                class="l-accordion__inside" 
                style="background-image: url('{{i.Image.Url}}')"
            >
                <h1>{{i.Title}}</h1>
            </a>
		</div>
	</div>
</div>