<!DOCTYPE html>
<html>

<head>

<link rel="stylesheet" type="text/css" href="https://thebank.info53.com/teams/HCInt/Learn/leading/SiteAssets/Site/components/2cards.css"> 

</head>

<body>

<div class="cards-list">
  
<div class="card 1">
  <div class="card_image"> <img src="https://thebank.info53.com/teams/HCInt/Learn/leading/SiteAssets/IMG/tile_agile.png" /> </div>
  <div class="card_title title-white">
    <p>Card Title</p>
  </div>
</div>


  <div class="card 2">
  <div class="card_image">
    <img src="https://thebank.info53.com/teams/HCInt/Learn/leading/SiteAssets/IMG/tile_agile.png" />
    </div>
  <div class="card_title title-white">
    <p>Card Title</p>
  </div>
</div>


<div class="card 3">
  <div class="card_image">
    <img src="https://thebank.info53.com/teams/HCInt/Learn/leading/SiteAssets/IMG/tile_agile.png" />
  </div>
  <div class="card_title">
    <p>Card Title</p>
  </div>
</div>
  
  <div class="card 4">
  <div class="card_image">
    <img src="https://thebank.info53.com/teams/HCInt/Learn/leading/SiteAssets/IMG/tile_agile.png" />
    </div>
  <div class="card_title title-black">
    <p>Card Title</p>
  </div>
  </div>


</div>


</body>
</html>