<!DOCTYPE html>
<html>
<div class="wrap">
  <h1>Bootstrap Modal Example</h1>
  <button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bs-example-modal-lg">
    Large modal
  </button>
</div>
 
<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  
  <div class="modal-dialog modal-lg">
    
    <!-- Modal Content: begins -->
    <div class="modal-content">
      
      <!-- Modal Header -->
      <div class="modal-header no-borders">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="gridSystemModalLabel"></h4>
      </div>
    
      <!-- Modal Body -->  
      <div class="modal-body">
        <p class="body-message centered"><strong>The email campaign has been successfully sent.</strong></p>
      </div>
    
      <!-- Modal Footer -->
      <div class="modal-footer no-borders">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
      </div>
    
    </div>
    <!-- Modal Content: ends -->
    
  </div>
  
</div>

<!---------------------->
<div class="wrap">
  <h1>Bootstrap Modal Example</h1>
  <button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bs-example-modal-lg-new">
    Large modal
  </button>
</div>
 
<div class="modal fade bs-example-modal-lg-new" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  
  <div class="modal-dialog modal-lg">
    
    <!-- Modal Content: begins -->
    <div class="modal-content">
      
      <!-- Modal Header -->
      <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="gridSystemModalLabel">Your Headings</h4>
      </div>
    
      <!-- Modal Body -->  
      <div class="modal-body">
        <div class="body-message">
          <h4>Title Heading</h4>
          <p>As long as we live its you and me baby. There ain't nothin' wrong with that! Well we're movin' on up to the east side to a deluxe apartment in the sky. Michael Knight a young loner on a crusade to champion the cause of the innocent. The helpless. The powerless in a world of criminals who operate above the law. Doin' it our way. There's nothing we wont try. Never heard the word impossible. This time there's no stopping us. These days are all Happy and Free. These days are all share them with me oh baby. Here he comes Here comes Speed Racer. He's a demon on wheels. We're gonna do it. On your mark get set and go now. Got a dream and we just know now we're gonna make our dream come true! Maybe you and me were never meant to be. But baby think of me once in awhile. I'm at WKRP in Cincinnati.</p>
          <div class="main">
    <h1>CARDS -
        <u>HORIZONTAL</u>- SLIDER.</h1>
    <h2>FIRST SLIDER <small>_ no-bootstrap</small></h2>
    <div class="scrolling-wrapper">
        <div class="scrolling_card">
            <div class="card_top">
                <img src="https://leaf-project.com/wp-content/uploads/2018/02/img-talk-1920x1280-min.jpg">

            </div>
            <div class="card_content">
                <h5>BLOG</h5>
                <h2>TITLE</h2>
                <p>Lorem ipsum dolor sit amet, consect etur adipiscing elitiuo. Lorem ipsum dolor sit amet, consect etur adipiscing elitiuo.Lorem ipsum dolor sit amet, consect etur adipiscing elitiuo.</p>
            </div>
        </div>

        <div class="scrolling_card">
            <div class="card_top">
                <img src="https://images.unsplash.com/photo-1440330033336-7dcff4630cef?ixlib=rb-0.3.5&s=9e6f1f5515d04218a33968d142784ad0&auto=format&fit=crop&w=1571&q=80">
                <!-- Photo by Rob Bye on Unsplash -->
            </div>
            <div class="card_content">
                <h5>BLOG</h5>
                <h2>TITLE</h2>
                <p>Lorem ipsum dolor sit amet, consect etur adipiscing elit. </p>
            </div>
        </div>

        <div class="scrolling_card">
            <div class="card_top">
                <img src="https://leaf-project.com/wp-content/uploads/2018/02/img-talk-1920x1280-min.jpg">
            </div>
            <div class="card_content">
                <h5>BLOG</h5>
                <h2>TITLE</h2>
                <p>Lorem ipsum dolor sit amet, consect etur adipiscing elit. </p>
            </div>
        </div>

        <div class="scrolling_card">
            <div class="card_top">
                <img src="https://leaf-project.com/wp-content/uploads/2018/02/img-talk-1920x1280-min.jpg">
            </div>
            <div class="card_content">
                <h5>BLOG</h5>
                <h2>TITLE</h2>
                <p>Lorem ipsum dolor sit amet, consect etur adipiscing elit. </p>
            </div>
        </div>

    </div>





    <h2>SECOND SLIDER</h2>
    <div class="scrolling-wrapper wrapper-V2">

        <div class="scrolling_card card_V2">
            <div class="card_top card_top_V2">
                <img src="https://images.unsplash.com/photo-1440330033336-7dcff4630cef?ixlib=rb-0.3.5&s=9e6f1f5515d04218a33968d142784ad0&auto=format&fit=crop&w=1571&q=80">

            </div>
            <div class="card_content card_content_V2">
                <h5>BLOG</h5>
                <h2>TITLE</h2>
                <p>Lorem ipsum dolor sit amet, consect etur adipiscing elit. </p>
            </div>
        </div>

        <div class="scrolling_card card_V2">
            <div class="card_top card_top_V2">
                <img src="https://images.unsplash.com/photo-1440330033336-7dcff4630cef?ixlib=rb-0.3.5&s=9e6f1f5515d04218a33968d142784ad0&auto=format&fit=crop&w=1571&q=80">

            </div>
            <div class="card_content card_content_V2">
                <h5>BLOG</h5>
                <h2>TITLE</h2>
                <p>Lorem ipsum dolor sit amet, consect etur adipiscing elit. </p>
            </div>
        </div>

        <div class="scrolling_card card_V2">
            <div class="card_top card_top_V2">
                <img src="https://images.unsplash.com/photo-1440330033336-7dcff4630cef?ixlib=rb-0.3.5&s=9e6f1f5515d04218a33968d142784ad0&auto=format&fit=crop&w=1571&q=80">

            </div>
            <div class="card_content card_content_V2">
                <h5>BLOG</h5>
                <h2>TITLE</h2>
                <p>Lorem ipsum dolor sit amet, consect etur adipiscing elit. </p>
            </div>
        </div>

        <div class="scrolling_card card_V2">
            <div class="card_top card_top_V2">
                <img src="https://images.unsplash.com/photo-1440330033336-7dcff4630cef?ixlib=rb-0.3.5&s=9e6f1f5515d04218a33968d142784ad0&auto=format&fit=crop&w=1571&q=80">

            </div>
            <div class="card_content card_content_V2">
                <h5>BLOG</h5>
                <h2>TITLE</h2>
                <p>Lorem ipsum dolor sit amet, consect etur adipiscing elit. </p>
            </div>
        </div>

    </div>
</div>
</div>
        </div>
      </div>
    
      <!-- Modal Footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
      </div>
    
    </div>
    <!-- Modal Content: ends -->
    
  </div>
  
</div>





<script>

/*CSS___________________________________*/
.wrap { padding: 15px; }
h1 { font-size: 28px; }
h4,
modal-title { font-size: 18px; font-weight: bold; }

.no-borders { border: 0px; }
.body-message { font-size: 18px; }
.centered { text-align: center; }
.btn-primary { background-color: #2086c1; border-color: transparent; outline: none; border-radius: 8px; font-size: 15px; padding: 10px 25px; }
.btn-primary:hover { background-color: #2086c1; border-color: transparent; }
.btn-primary:focus { outline: none; }

/* COPIED IN YO! */
body{
  font-family: 'Roboto','Open Sans', sans-serif;
  background:#f7f7f7;
}
small{
  color:grey;
}
.main>h1{
  text-align:center;
  margin-top:50px;
  margin-bottom:50px
}
.main>h2{
  margin-left:15px;
  margin-top:70px;
}
/* START CARD SLIDER*/
.scrolling-wrapper{
    /*height:600px;*/
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
  width:100%;  
  -webkit-overflow-scrolling: touch;
}
.scrolling-wrapper p{
    white-space:normal;
  
}

.scrolling-wrapper>div{/*.scrolling_card*/
  display:inline-block;
  position:relative;
  float:none;
  width:80%; /*manage the width of the CARD on tiny device*/
  width:300px; /*common width of the CARD*/
  background:white;
  box-shadow:0 0 15px #adadad;
  overflow:hidden;
  border:solid 1px grey;
  margin:15px; /*space between cards*/
}

.card_top{
  overflow:hidden;
  width:100%;
  height:200px;
  background:grey;
}
.card_top img{
  width:100%;
}

.card_content{
  padding:25px; /* space text card*/
  font-size:100%;
}
.card_content h5{
    display:inline-block;
    padding:0px 0 5px 0;
    margin:0;
    border-bottom:solid 2px grey;
}
.card_content h2{
    margin-top:5px;
    margin-bottom:10px;
}

.card_V2{
  border-radius:12px;
  border:none !important;
  width:300px;
}
.card_top_V2{
  height:223px;
}
.card_content_V2{
  background:white;
  position:relative;
  padding-top:18px;
  padding-bottom:10px;
}
</script>
</html>
