<!DOCTYPE html>
<html>

<head>

<link rel="stylesheet" type="text/css" href="https://thebank.info53.com/teams/HCInt/Learn/leading/SiteAssets/Site/components/drawer.css"> 
</head>

<div class="menu">
    <div class="title">MENU</div>
    <ul class="nav">
      <li><a href="https://thebank.info53.com/teams/HCInt/Learn/leading/SiteAssets/Site/portal.aspx">Home</a></li>
      <li><a href="#">About</a></li>
      <li><a href="https://inside.info53.com/ep/ec/Welcome/">Employee Center</a></li>
      <li><a href="https://thebank.info53.com/Pages/Home.aspx">SharePoint</a></li>
      <li><a href="https://thebank.info53.com/teams/HCInt/Learn/leading/_layouts/15/start.aspx#/SitePages/navigator.aspx">See the Navigator</a></li>
    </ul>
</div>


<div class="intro">
  
</div>

</html>

