<!DOCTYPE html>

<html lang="en" >


<head>
  
<meta charset="UTF-8">
  
<title>movie card</title>
  
  
  
      
<link rel="stylesheet" href="https://thebank.info53.com/teams/HCInt/Learn/leading/SiteAssets/Site/components/newcard.css">

  

</head>



<body>

  
<!bring in style>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">



<! CARD ////////////////////////////////////////////////////////////////////////////////////////// 1>
<div class="snapcard">
  

<a href="https://inside.info53.com/ep/ec/Welcome/">
    

<div class="img1"></div>
    
<div class="img2"></div>
    

<div class="title">Capability series 1 || Episode 1</div>
    <div class="text">Welcome to this first module of the thing that you want to learn </div>
    

<a href="#"><div class="catagory">Series <i        class="fas fa-film"></i></div></a>
    

<a href="#"><div class="views">20211  <i class="far fa-eye"></i> </div>

</a>
  </a>
</div>
  
  

<! CARD ////////////////////////////////////////////////////////////////////////////////////////// 2>
 <div class="snapcard">
  

<a href="https://inside.info53.com/ep/ec/Welcome/">
    

<div class="img1"></div>
    
<div class="img2"></div>
    

<div class="title">Capability series 1 || Episode 1</div>
    <div class="text">Welcome to this first module of the thing that you want to learn </div>
    

<a href="#"><div class="catagory">Series <i        class="fas fa-film"></i></div></a>
    

<a href="#"><div class="views">20211  <i class="far fa-eye"></i> </div>

</a>
  </a>
</div>
  
  

<! CARD ////////////////////////////////////////////////////////////////////////////////////////// 3>
 <div class="snapcard">
  

<a href="https://inside.info53.com/ep/ec/Welcome/">
    

<div class="img1"></div>
    
<div class="img2"></div>
    

<div class="title">Capability series 1 || Episode 1</div>
    <div class="text">Welcome to this first module of the thing that you want to learn </div>
    

<a href="#"><div class="catagory">Series <i        class="fas fa-film"></i></div></a>
    

<a href="#"><div class="views">20211  <i class="far fa-eye"></i> </div>

</a>
  </a>
</div>
  



<! CARD ////////////////////////////////////////////////////////////////////////////////////////// 4>
 <div class="snapcard">
  

<a href="https://inside.info53.com/ep/ec/Welcome/">
    

<div class="img1"></div>
    
<div class="img2"></div>
    

<div class="title">Capability series 1 || Episode 1</div>
    <div class="text">Welcome to this first module of the thing that you want to learn </div>
    

<a href="#"><div class="catagory">Series <i        class="fas fa-film"></i></div></a>
    

<a href="#"><div class="views">20211  <i class="far fa-eye"></i> </div>

</a>
  </a>
</div>
  



</body>



</html>
