<!DOCTYPE html>
<html>

<head>

<link rel="stylesheet" type="text/css" href="https://thebank.info53.com/teams/HCInt/Learn/leading/SiteAssets/Site/components/portalcards.css"> 

</head>

<body>

<div class="wrapper">
               <div class="tile job-bucket">
                  <div class="front">
                     <div class="contents"> 
                        <img src="/teams/HCInt/Learn/leading/SiteAssets/IMG/tile_connect.png" alt=""/> 
                        <p> &#160;</p>
                        <h3>Create Connections</h3>
                        <p>The Strength of your netwok multiplies your reach.</p> 
                        <br/> 
                        <a href="#">Take a Peek</a> </div>
                  </div>
                  <div class="back">
                     <h3>Content Offered</h3> 
                     <a href="https://thebank.info53.com/teams/HCInt/Learn/leading/SiteAssets/Site/connect1.aspx">Actively Inclusive</a><a href="#">Be Self-Aware</a><a href="#">Communicates Effectively</a></div>
               </div>
               <div class="tile job-bucket">
                  <div class="front">
                     <div class="contents"> 
                        <img src="/teams/HCInt/Learn/leading/SiteAssets/IMG/tile_agile.png" alt=""/> 
                        <p> &#160;</p>
                        <h3>Lead with Agility</h3>
                        <p>Change is certain, market trends, technology, regulatory and more. Learn how to lead with agility</p>
                        <br/> 
                        <a href="#">Explore more</a> </div>
                  </div>
                  <div class="back">
                     <h3>Content Offered</h3> 
                     <a href="#">Anticipate & Lead Change </a><a href="#">Be Courageous and Resilient</a><a href="#">Build Winning Strategies</a></div>
               </div>
               <div class="tile job-bucket">
                  <div class="front">
                     <div class="contents"> 
                        <img src="/teams/HCInt/Learn/leading/SiteAssets/IMG/tile_coach.png" alt=""/> 
                        <p> &#160;</p>
                        <h3>Be a Great Coach</h3>
                        <p>Developing your team will allow you to effeciently reach todays goals while building tomorrow's leaders.</p> 
                        <br/> 
                        <a href="#">Discover</a> </div>
                  </div>
                  <div class="back">
                     <h3>Content Offered</h3> 
                     <a href="#">Be Empathetic</a><a href="#">Set Clear Expectations</a><a href="#">Consistently Seek and Provide Feedback</a></div>
               </div>
               <div class="tile job-bucket">
                  <div class="front">
                     <div class="contents"> 
                        <img src="/teams/HCInt/Learn/leading/SiteAssets/IMG/tile_owner.png" alt=""/>
                        <p> &#160;</p>
                        <h3>Act Like an Owner</h3>
                        <p>The shift to owning your role comes with a change in responsiblity, accountability and influence.</p> 
                        <br/> 
                        <a href="#">Investigate</a> </div>
                  </div>
                  <div class="back">
                     <h3>Content Offered</h3> 
                     <a href="#">Drive Informed Decision Making</a><a href="/teams/HCInt/Learn/leading/SiteAssets/CSS/freeportal3.aspx">Keep the Customer at the Center</a></div>
               </div>
            </div>
</body>
</html>