<!DOCTYPE html>

<html lang="en" >


<head>
  
<meta charset="UTF-8">
  
<title>movie card</title>
  



<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">

  
      


<link rel="stylesheet" href="css/modal1style.css">

   
  
      
<link rel="stylesheet" href="https://thebank.info53.com/teams/HCInt/Learn/leading/SiteAssets/Site/components/snapcard.css">

  



  
  
  
      


</head>



<body>

  



<!GO HOME BUTTON>
<div>
<a href="https://thebank.info53.com/teams/HCInt/Learn/leading/SiteAssets/Site/portal.aspx" class="dbutton">Back</a>
</div>

<div class="dib tc">
  
<a class="btn" href="#">Show Modal</a>

</div>



<! CARD ////////////////////////////////////////////////////////////////////////////////////////// 1>
<div class="snapcard">
  



<div class="img1"></div>
    
<div class="img2"></div>
    

<div class="title">Capability series 1 || Episode 1</div>
    <div class="text">Welcome to this first module of the thing that you want to learn </div>
    

<a href="#"><div class="catagory">Series <i        class="fas fa-film"></i></div></a>
    

<a href="#"><div class="views">20211  <i class="far fa-eye"></i> </div>

</a>
</div>
  
  

<! CARD 


<! MODAL CONTENT ////////////////////////////////////////////////////////////////////////////////////////// 1 START >

<div class="modal">
  
<div class="overlay">
</div>
  


<div class="modal__contents modal--transition">
    
<a class="modal__close" href="#">X</a>
    

<h1>Resize the window, dawg</h1>
  
</div>

</div>

<! MODAL CONTENT ////////////////////////////////////////////////////////////////////////////////////////// 1 END >

<! MODAL CONTENT ////////////////////////////////////////////////////////////////////////////////////////// 1 START >


<! MODAL CONTENT ////////////////////////////////////////////////////////////////////////////////////////// 1 END >



<script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>

  

    
<script  src="js/modal1index.js"></script>






</body>



</html>
