<div class="tiles">
    <div ng-repeat="tile in ctrl.tiles track by $index" class="tile text-center">
		<div class="tile-container">
			<div class="tile-image" ng-style="{'background-image': 'url(' + tile.Image.Url + ')'}"></div>
			<div class="tile-title">
				<a ng-if="tile.Title != 'New Track'" ng-href="{{tile.Link.Url}}">
					{{tile.Title}}<br/>
					{{tile.Description}}
				</a>
				<a ng-if="tile.Title == 'New Track'" data-toggle="modal" data-target="#new-track-form">
					{{tile.Title}}<br/>
					{{tile.Description}}
				</a>
			</div>
		</div>
    </div>
</div>