
/* bootstrap overwright */
.b .dropdown-menu{
    display: block;
}
.b .input-group button {
    min-width: 0;
}
.b p.input-group {
    margin-bottom: 0;
}
.b .form-horizontal .radio-inline {
    padding-bottom: 10px;
}
.btn-switch {
    position: relative;
    display: block;
    width: 50px;
    height: 25px;
    cursor: pointer;
    background-color: #F27878;
    border: 2px solid #F27878;
    border-radius: 40px;
}
.btn-switch .btn-switch-circle {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    height: 21px;
    width: 21px;
    background-color: #fff;
    border-radius: 40px;
}
.btn-switch .btn-switch-circle:not(.btn-switch-circle--on){
    animation: 0.1s linear 0s slideBack;
}

.btn-switch--on {
    background-color: #80CDBE;
    border: 2px solid #80CDBE;
}
.btn-switch--on .btn-switch-circle--on {
    left: auto;
    right: 0;
    animation: 0.1s linear 0s slide;
}

@keyframes slide {
    from { left: 0; }
    to {
        right: 0;
      /* transform: translateX(-100%); */
    }
  }
@keyframes slideBack {
    from { right: 0; }
    to {
        left: 0;
        /* transform: translateX(100%); */
    }
}

/* sharepoint overwright */

#sideNavBox, #pageTitle {
    display: none;
}
#contentBox {
    margin-left: 20px;
}