<div id="retail-learning">
	<div class="container">
		<div>
			<a href="#" ng-click="ctrl.goBack($event)">
				<i class="glyphicon glyphicon-arrow-left"></i>
				Back
			</a>
		</div>
		<div class="blog-card" ng-repeat="item in ctrl.allretailLearning track by $index" ng-class="{'alt': ($index%2 != 0)}">
				<div class="meta">
					<div class="photo" style="background-image: url('{{item.Image ? item.Image.Url : ctrl.defaultImage}}')"></div>
					<ul class="details">
						<li class="author"><a href="#">{{item.AuthorUser.Title}}</a></li>
						<li class="date">{{ctrl.getTopicHours(item.Time)}}</li>
						<li class="tags">
							<ul>
								<li><a ng-href="{{item.Learn ? item.Learn.Url : ''}}">Learn</a></li>
								<li><a ng-href="{{item.Contact ? item.Contact.Url : ''}}">Contact</a></li>
								<li><a ng-href="{{item.Help ? item.Help.Url : ''}}">Help</a></li>
								<li><a ng-href="{{item.Guide ? item.Guide.Url : ''}}">Guide</a></li>
							</ul>
						</li>
					</ul>
				</div>
				<div class="description">
					<h1>{{item.Title}}</h1>
					<h2>{{item.SubTitle}}</h2>
					<p>{{item.Description}}</p>
					<p class="read-more">
						<a ng-href="{{item.Link ? item.Link.Url : ''}}">Begin</a>
					</p>
				</div>
		</div>
	</div>
</div>