<div class="welcome">
    <div class="container">
        <div class="profile-header-container">   
            <div class="profile-header-img text-center">
                <img class="img-circle user-icon" ng-src="/_layouts/15/userphoto.aspx?size=M&username={{ctrl.userInfo.userName}}" />
                <span class="rank-label-container">
                    <div class="ful-name-info">{{ctrl.userInfo.fullName}}</div>
                    <span class="position-info">{{ctrl.userInfo.position}}</span>
                    <span ng-if="ctrl.userInfo.position && ctrl.userInfo.department">&nbsp;|&nbsp;</span>
                    <span class="department-info">{{ctrl.userInfo.department}}</span>
                </div>
            </div>
        </div>
    </div>
</div>
