<div class="welcome">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-6">
                <div class="profile-header-container user-info">   
                    <div class="col-sm-12 col-md-12 col-lg-8">
                        <div class="profile-header-img text-center">
                            <!-- <img class="img-circle user-icon" ng-src="/_layouts/15/userphoto.aspx?size=L&username={{ctrl.userInfo.userName}}" /> -->
                            <div class="img-circle user-icon" style="background-image: url('/_layouts/15/userphoto.aspx?size=L&username={{ctrl.userInfo.userName}}')"></div>
                            <span class="rank-label-container">
                                <div class="credits-info">{{ctrl.userInfo.xp}} XP</div>
                                <div class="full-name-info">{{ctrl.userInfo.fullName}}</div>
                                <span class="position-info">{{ctrl.userInfo.position}}</span>
                                <span ng-if="ctrl.userInfo.position && ctrl.userInfo.department">&nbsp;|&nbsp;</span>
                                <span class="department-info">{{ctrl.userInfo.department}}</span>
                            </span>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-12 col-lg-4 text-center">
                        <h4>Avatar</h4>
                        <div class="profile-header-container avatar">   
                            <div class="profile-header-img text-center">
                                <img class="img-circle user-icon" ng-src="{{ctrl.userInfo.avatar.Url}}" />
                                <i class="glyphicon glyphicon-pencil" ng-click="ctrl.openPropModal()"></i>
                                <!-- <span class="rank-label-container">
                                    <div class="full-name-info">{{ctrl.userInfo.avatarItem.Title}}</div>
                                </span> -->
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <br/>
                </div>
            </div>
            <div class="col-sm-12 col-md-12 col-lg-6 text-center">
                <div class="recent-activity">
                    <h4 class="text-center">Recent Activity</h4>
                    <div ng-repeat="item in ctrl.recentTasks track by $index" class="col-sm-12 col-md-12 col-lg-12">
                        <div ng-if="item['odata.type'] == 'SP.Data.BadgesTaskLogListItem'" class="recent-container">
                            <div class="user-image">
                                <img class="img-circle" ng-src="/_layouts/15/userphoto.aspx?size=S&username={{item.AssignedTo.EMail}}" />
                                <div>&nbsp;{{item.AssignedTo.Title}}</div>
                            </div>
                            <div>
                                <div>{{item.Badge.Title}}: {{item.Title}}</div>
                                <div>{{ctrl.moment(item.Created).format('MM/DD/YYYY h:mm a')}}</div>
                            </div>
                        </div>
                        <div ng-if="item['odata.type'] == 'SP.Data.BadgesListListItem' || item['odata.type'] == 'SP.Data.BadgesListItem'" class="recent-container">
                            <div class="user-image">
                                <img class="img-circle" ng-src="/_layouts/15/userphoto.aspx?size=S&username={{item.TaskLog.AssignedTo.EMail}}" />
                                <div>&nbsp;{{item.TaskLog.AssignedTo.Title}}</div>
                            </div>
                            <div>
                                <img class="img-circle recent-badge-icon" ng-src="{{item.Icon.Url}}" />
                                <div>
                                    <div>{{item.Title}}</div>
                                    <div>
                                        <div ng-if="item.BadgeType == 'Manager'">
                                            Awarded by {{item.TaskLog.Author.Title}}
                                        </div>
                                        <div>
                                            {{ctrl.moment(item.TaskLog.Created).format('MM/DD/YYYY h:mm a')}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
        <br/>
        <div class="row">
            
        </div>
        <br/>
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-6 text-center">
                <h4 class="text-center">Tasks Map</h4>
                <div class="tasks-map">
                    <div ng-repeat="row in ctrl.groupedTasks track by $index"
                        ng-init="parentIdx = $index"
                        class="tasks-map-row" 
                        ng-class="{'reverse': $index%2!=0,
                                    'first-map-row': $index==0
                                }"
                    >
                        <div class="map-item text-center bg-color-{{$index}}"
                            ng-if="!item.isEmpty" 
                            ng-repeat="item in row track by $index"
                            ng-click="ctrl.generatePdf($event, item);"
                            ng-style="{'background-color': ctrl.colorArr[$index]}"
                            ng-init="isHover = false"
                            ng-mouseenter="isHover = true"
                            ng-mouseleave="isHover = false"
                            ng-class="{
                                'not-completed': (!isHover && !ctrl.checkTask(item.Title, item.BadgeId)),
                                'first-map-item': (parentIdx==0 && $index==0),
                                'end-bottom': (parentIdx%2==0 && $index==4),
                                'end-top': (parentIdx%2!=0 && $index==0),
                                'start-bottom': ((parentIdx%2!=0 && $index==4)),
                                'start-top': (parentIdx!=0 && parentIdx%2==0 && $index==0),
                                'last-map-item': (parentIdx==ctrl.groupedTasks.length-1 && $index==row.length-1),
                                'disabled-task': !ctrl.checkIsAllowedTask(item.BadgeId)
                            }"
                        >
                            <!-- <span class="glyphicon glyphicon-star" 
                                ng-if="ctrl.checkTask(item.Title, item.BadgeId)">
                            </span> -->
                            <img 
                                class="avatar-image" 
                                ng-src="{{ctrl.userInfo.avatar.Url}}"
                                ng-if="ctrl.checkTask(item.Title, item.BadgeId) && ctrl.getLastCompletedTask() == item.Id"
                            >
                            <div class="snackbar">{{item.Badge.Title}}: {{item.Title}}</div>
                        </div>
                        <div class="map-item text-center empty-map-item"
                            ng-repeat="item in row track by $index"
                            ng-class="{
                                'not-completed': (!isHover && !ctrl.checkTask(item.Title, item.BadgeId)),
                                'first-map-item': (parentIdx==0 && $index==0),
                                'end-bottom': (parentIdx%2==0 && $index==4),
                                'end-top': (parentIdx%2!=0 && $index==0),
                                'start-bottom': ((parentIdx%2!=0 && $index==4)),
                                'start-top': (parentIdx!=0 && parentIdx%2==0 && $index==0),
                                'last-map-item': (parentIdx==ctrl.groupedTasks.length-1 && $index==row.length-1)
                            }"
                            ng-if="item.isEmpty">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-12 col-lg-6 text-center">
                <a ng-if="ctrl.userInfo.userRole == 'Manager'" class="btn btn-success" href="https://thebank.info53.com/teams/HCInt/Learn/Gamification/SiteAssets/app/Manager.aspx">Manager Page</a>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
