.welcome {
    display: flex;
    flex-wrap: wrap;

}
.tasks-map {
    max-width: 500px;
    padding: 20px 20px 20px 70px;
    box-shadow: 0 0 10px 0px;
    text-align: center;
    box-sizing: content-box;
    border-radius: 5px;
    margin: auto;
    margin-top: 20px;
}
.tasks-map-row {
    display: flex;
    margin-bottom: 30px;
}
.tasks-map-row.reverse{
    flex-direction: row-reverse;
    justify-content: flex-end;
}
.tasks-map-row.reverse .map-item:nth-child(2),
.tasks-map-row.reverse .map-item:nth-child(4){
    flex: 0 23%;
}
.tasks-map-row.reverse .map-item:nth-child(3) {
    flex: 0 24%;
}
.map-item {
    display: flex;
    flex: 0 20%;
    justify-content: center;
    width: 60px;
    height: 35px;
    background: red;
    border-left: 1px solid #fff;
    position: relative;
    cursor: pointer;
}
.map-item .glyphicon-star {
    background: -webkit-linear-gradient(top, #8f6B29, #FDE08D, #DF9F28);
    background: linear-gradient(top, #8f6B29, #FDE08D, #DF9F28);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 30px;
}
.map-item.end-bottom .glyphicon-star,
.map-item.start-bottom .glyphicon-star{
    margin-top: 10px;
    z-index: 99;
}
.map-item.end-top .glyphicon-star,
.map-item.start-top .glyphicon-star{
    margin-top: -10px;
    z-index: 99;
}
.first-map-item {
    border-top-left-radius: 5%;
    border-bottom-left-radius: 5%;
    border-left: none;
}
.last-map-item {
    border-top-right-radius: 5%;
    border-bottom-right-radius: 5%;
}
.map-item.end-bottom {
    flex: 0 10%;
    border-radius: 0;
    border-top-right-radius: 100%;
    position: relative;
}
.map-item.end-bottom::after {
    content: '';
    display: block;
    position: absolute;
    bottom: -15px;
    width: 100%;
    height: 15px;
    background: inherit;
    border-bottom: 1px solid #fff;
}
.map-item.end-top {
    flex: 0 10%;
    border-radius: 0;
    border-bottom-right-radius: 100%;
    position: relative;
}
.map-item.end-top::after {
    content: '';
    display: block;
    position: absolute;
    top: -15px;
    width: 100%;
    height: 15px;
    background: inherit;
}
.map-item.start-bottom {
    flex: 0 10%;
    border-radius: 0;
    border-top-left-radius: 100%;
    position: relative;
    border-left: 0;
}
.map-item.start-bottom::after{
    content: '';
    display: block;
    position: absolute;
    bottom: -15px;
    width: 100%;
    height: 15px;
    background: inherit;
}
.map-item.start-top {
    flex: 0 10%;
    border-radius: 0;
    border-bottom-left-radius: 100%;
    position: relative;
    border-left: 0;
}
.map-item.start-top::after {
    content: '';
    display: block;
    position: absolute;
    top: -15px;
    width: 100%;
    height: 15px;
    background: inherit;
    border-top: 1px solid #fff;
}

.map-item:hover .snackbar{
    visibility: visible;
    display: block;
}

.snackbar {
    visibility: hidden;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 4px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: -35px;
    font-size: 17px;
    display: none;
    white-space: nowrap;
  }