<!DOCTYPE html>
<html>

<head>

<link rel="stylesheet" type="text/css" href="https://thebank.info53.com/teams/HCInt/Learn/leading/SiteAssets/Site/components/2cards.css"> 

</head>

<body>

<div class="cards-list">

<a href="https://www.linkedin.com/learning/professional-networking?u=2148850">
<div class="card 1">
  <div class="card_image"> <img src="https://thebank.info53.com/teams/HCInt/Learn/leading/SiteAssets/Site/media/img/connect0.png" /> 
  </div>
  <div class="card_title title-white">
    <p>Professional Networking</p>
  </div>
</div>
</a>  

<a href="https://www.linkedin.com/learning/professional-networking?u=2148850" target="_blank">
  <div class="card 2">
  <div class="card_image">
    <img src="https://thebank.info53.com/teams/HCInt/Learn/leading/SiteAssets/Site/media/img/connect0.png" />
    </div>
  <div class="card_title title-white">
    <p>Networking dos and don'ts</p>
  </div>
</div>
</a>  

<a href="https://www.linkedin.com/learning/business-etiquette-meetings-meals-and-networking-events?u=2148850" target="popup" 
  onclick="window.open('https://www.linkedin.com/learning/business-etiquette-meetings-meals-and-networking-events?u=2148850','popup','width=600,height=800'); return false;">

<div class="card 3">
  <div class="card_image">
    <img src="https://thebank.info53.com/teams/HCInt/Learn/leading/SiteAssets/Site/media/img/connect0.png" />
  </div>
  <div class="card_title title-white">
    <p>Business Etiquette</p>
  </div>
</div>
</a>  

<a href="https://www.linkedin.com/learning/professional-networking?u=2148850"> 
  <div class="card 4">
  <div class="card_image">
    <img src="https://thebank.info53.com/teams/HCInt/Learn/leading/SiteAssets/Site/media/img/connect0.png" />
    </div>
  <div class="card_title title-white">
    <p>Giving Your Elevator Pitch</p>
  </div>
  </div>
</a>  

  <div class="card 5">
  <div class="card_image">
     <img src="https://thebank.info53.com/teams/HCInt/Learn/leading/SiteAssets/Site/media/img/connect0.png" />
    </div>
  <div class="card_title title-white">
    <p>Internal Networking</p>
  </div>
  </div>

  <div class="card 6">
  <div class="card_image">
    <img src="https://thebank.info53.com/teams/HCInt/Learn/leading/SiteAssets/Site/media/img/connect0.png" />
    </div>
  <div class="card_title title-white">
    <p>Networking and Time Management</p>
  </div>
  </div>

  <div class="card 7">
  <div class="card_image">
    <img src="https://thebank.info53.com/teams/HCInt/Learn/leading/SiteAssets/Site/media/img/connect0.png" />
    </div>
  <div class="card_title title-white">
    <p>Card Title</p>
  </div>
  </div>

  <div class="card 8">
  <div class="card_image">
    <img src="https://thebank.info53.com/teams/HCInt/Learn/leading/SiteAssets/Site/media/img/connect0.png" />
    </div>
  <div class="card_title title-white">
    <p>Card Title</p>
  </div>
  </div>


</div>


</body>
</html>