<!DOCTYPE html>
<html>

<head>



<link rel="stylesheet" type="text/css" href="https://thebank.info53.com/teams/HCInt/Learn/leading/SiteAssets/Site/components/2animcards.css"> 
<link rel="stylesheet" type="text/css" href="https://thebank.info53.com/teams/HCInt/Learn/leading/SiteAssets/Site/components/dewitbutton.css"> 
<link rel="stylesheet" type="text/css" href="https://thebank.info53.com/teams/HCInt/Learn/leading/SiteAssets/Site/components/episodesmodal.css"> 

</head>

<body>


<div>
<a href="https://thebank.info53.com/teams/HCInt/Learn/leading/SiteAssets/Site/portal.aspx" class="dbutton">Back</a>
</div>


<div class="wrapper">
               <div class="tile job-bucket">
                  <div class="front">
                     <div class="contents"> 
                        <img src="/teams/HCInt/Learn/leading/SiteAssets/Site/media/img/connect1.jpg" alt=""/> 
                        <p> &#160;</p>
                        <h3>Professional Networking</h3>
                        <p>The Strength of your netwok multiplies your reach</p> 
                        <br/> 
                        <a href="#">Away we go</a> </div>
                  </div>
                  <div class="back">
                     <h3>Video Content</h3> 
                     </p> This module will provide a primer on professional networking. Perfect for those just beginning to make connection or anyone wanting a refersher on growing their exisitng network.</p> 

<a href="https://www.linkedin.com/learning/professional-networking?u=2148850" target="_blank">Click to Start</a> </div>
  
               </div>


               <div class="tile job-bucket">
                  <div class="front">
                     <div class="contents"> 
                        <img src="/teams/HCInt/Learn/leading/SiteAssets/Site/media/img/connect2.jpg" alt=""/> 
                        <p> &#160;</p>
                        <h3>Give Your Elevator Pitch</h3>
                        <p>Your story in 60 seconds or less</p>
                        <br/> 
                        <a href="#">Explore more</a> </div>
                  </div>
                  <div class="back">
                     <h3>Content Offered</h3> 
                     Whether it's a serendipidous encounter or time is of the essence, knowing how to clearly and briefly communicate your story is a key in devloping your network<a href="https://www.linkedin.com/learning/giving-your-elevator-pitch?u=2148850" target="_blank">Click to Start</a> </div>
               </div>

               
<div class="tile job-bucket">
                  <div class="front">
                     <div class="contents"> 
                        <img src="/teams/HCInt/Learn/leading/SiteAssets/Site/media/img/connect3.jpg" alt=""/> 
                        <p> &#160;</p>
                        <h3>Business Etiquette</h3>
                        <p>When in Rome...</p>
                        <br/> 
                        <a href="#">Explore more</a> </div>
                  </div>
                  <div class="back">
                     <h3>Content Offered</h3> 
                     Understanding the local business and societla cultural norms goes a long way in your ability to connect.<a href="https://www.linkedin.com/learning/business-etiquette-meetings-meals-and-networking-events?u=2148850" target="_blank">Click to Start</a> </div>
               </div>

<div class="tile job-bucket">
                  <div class="front">
                     <div class="contents"> 
                        <img src="/teams/HCInt/Learn/leading/SiteAssets/Site/media/img/connect4.jpg" alt=""/> 
                        <p> &#160;</p>
                        <h3>Networking Tactics</h3>
                        <p>Effecincy or Effectiveness...or Both?</p>
                        <br/> 
                        <a href="#">Explore more</a> </div>
                  </div>
                  <div class="back">
                     <h3>Content Offered</h3> 
                     Make the most of the opportunites that present themselves to meet people and equally important, their meeting you.<a href="https://www.linkedin.com/learning/networking-for-sales-professionals/choose-your-networking-tactics?u=2148850" target="_blank">Click to Start</a> </div>
               </div>

<div class="tile job-bucket">
                  <div class="front">
                     <div class="contents"> 
                        <img src="/teams/HCInt/Learn/leading/SiteAssets/Site/media/img/connect5.jpg" alt=""/> 
                        <p> &#160;</p>
                        <h3>Title Goes Here</h3>
                        <p>Effecincy or Effectiveness...or Both?</p>
                        <br/> 
                        <a href="#">Explore more</a> </div>
                  </div>
                  <div class="back">
                     <h3>Content Offered</h3> 
                     Make the most of the opportunites that present themselves to meet people and equally important, their meeting you.<a href="https://www.linkedin.com/learning/networking-for-sales-professionals/choose-your-networking-tactics?u=2148850" target="_blank">Click to Start</a> </div>
               </div>

<div class="tile job-bucket">
                  <div class="front">
                     <div class="contents"> 
                        <img src="/teams/HCInt/Learn/leading/SiteAssets/Site/media/img/connect6.jpg" alt=""/> 
                        <p> &#160;</p>
                        <h3>Title Goes Here</h3>
                        <p>Effecincy or Effectiveness...or Both?</p>
                        <br/> 
                        <a href="#">Explore more</a> </div>
                  </div>
                  <div class="back">
                     <h3>Content Offered</h3> 
                     Make the most of the opportunites that present themselves to meet people and equally important, their meeting you.<a href="https://www.linkedin.com/learning/networking-for-sales-professionals/choose-your-networking-tactics?u=2148850" target="_blank">Click to Start</a> </div>
               </div>

<div class="tile job-bucket">
                  <div class="front">
                     <div class="contents"> 
                        <img src="/teams/HCInt/Learn/leading/SiteAssets/Site/media/img/connect7.jpg" alt=""/> 
                        <p> &#160;</p>
                        <h3>Title Goes Here</h3>
                        <p>Effecincy or Effectiveness...or Both?</p>
                        <br/> 
                        <a href="#">Explore more</a> </div>
                  </div>
                  <div class="back">
                     <h3>Content Offered</h3> 
                     Make the most of the opportunites that present themselves to meet people and equally important, their meeting you.<a href="https://www.linkedin.com/learning/networking-for-sales-professionals/choose-your-networking-tactics?u=2148850" target="_blank">Click to Start</a> </div>
               </div>

<div class="tile job-bucket">
                  <div class="front">
                     <div class="contents"> 
                        <img src="/teams/HCInt/Learn/leading/SiteAssets/Site/media/img/connect8.jpg" alt=""/> 
                        <p> &#160;</p>
                        <h3>Title Goes Here</h3>
                        <p>Effecincy or Effectiveness...or Both?</p>
                        <br/> 
                        <a href="#">Explore more</a> </div>
                  </div>
                  <div class="back">
                     <h3>Content Offered</h3> 
                     Make the most of the opportunites that present themselves to meet people and equally important, their meeting you.<a href="https://www.linkedin.com/learning/networking-for-sales-professionals/choose-your-networking-tactics?u=2148850" target="_blank">Click to Start</a> </div>
               </div>

            </div>
</body>



</html>