<!DOCTYPE html>
<html>

<head>

<link rel="stylesheet" type="text/css" href="https://thebank.info53.com/teams/HCInt/Learn/leading/SiteAssets/Site/components/footer2.css"> 
</head>



<!-- FOOTER START -->
<div class="footer">
  <div class="contain">
  <div class="col">
    <h1>Learning</h1>
    <ul>
      <li><a href="Capabilites.aspx">Capabilities</a></li>
      <li><a href="4E.aspx">4E</a></li>
      <li><a href="LearnJourney.aspx">Learning Journey</a></li>
      <li><a href="LearnEvents.aspx">Upcoming Events</a></li>
    </ul>
  </div>
  <div class="col">
    <h1>Support</h1>
    <ul>
      <li><a href="AboutLeading.aspx">About Leading</a></li>
      <li><a href="techsupp.aspx">IT Help</a></li>
      <li><a href="learnsupp.aspx">Learning Help</a></li>
      <li><a href="53info.aspx">5/3 Info</a></li>
      <li><a href="Safety.aspx">Safety</a></li>
    </ul>
  </div>
  <div class="col">
    <h1>Resources</h1>
    <ul>
      <li><a href="hrhub.aspx">HR Hub</a></li>
      <li><a href="knowledgebank.aspx">Knowledge Management</a></li>
      <li><a href="SP.aspx">SharePoint</a></li>
      <li><a href="peoplefinder.aspx">People Finder</a></li>
    </ul>
  </div>
  <div class="col">
    <h1>Recommended Resources</h1>
    <ul>
      <li><a href="gartner.aspx">Gartner</a></li>
      <li><a href="ATD.aspx">ATD</a></li>
      <li><a href="lil.aspx">LinkedIn Learning</a></li>
    </ul>
  </div>
  <div class="col social">
    <h1>Social</h1>
    <ul>
      <li><img src="https://thebank.info53.com/teams/HCInt/Learn/leading/SiteAssets/Site/media/img/ftlil.jpg" width="32" style="width: 32px;"></li>
      <li><img src="https://thebank.info53.com/teams/HCInt/Learn/leading/SiteAssets/Site/media/img/dboard.jpg" width="32" style="width: 32px;"></li>
      <li><img src="https://thebank.info53.com/teams/HCInt/Learn/leading/SiteAssets/Site/media/img/mail.jpg" width="32" style="width: 32px;"></li>
    </ul>
  </div>
<div class="clearfix"></div>
</div>
</div>


</html>

