.hero-container {
  height: 20vh;
  width: 100%;
  overflow: hidden;
  position: relative;
  margin-bottom: 20px;
}

.hero {
  background: url('https://thebank.info53.com/teams/HCInt/Learn/leading/SiteAssets/IMG/banner_smblue.png') no-repeat center center;
  background-size: cover;
  height: 100%;
  width: 100%;
  padding: 40px;
  transition: transform 2s;
}


.hero:hover {
  transform: scale(1.15);
}


.hero-stuff {
  position: absolute;
  top: 40px;
  left: 400px;
}


h1 {
  font-size: 55px;
  font-weight: 800;
  font-family: sans-serif;
  color: #1D4094;
}


a.btn {
  display: inline-block;
  font-family: sans-serif;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 1.5px;
  padding: 11px 30px;
  background-color: #636363;
  background-image: linear-gradient(to bottom,#636363,#000);
  color: #fff;
  text-transform: uppercase;
}


a.btn:hover {
  background-image: linear-gradient(to bottom,#000,#000);
}


p {
  font-family: sans-serif;
}


a.btn:hover {
  background-image: linear-gradient(to bottom,#000,#000);
}


p {
  font-family: sans-serif;
}
