<style>
* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

body {
  font-family: sans-serif;background: #67B2E8;
}

a {
  text-decoration: none;
  
color: #000;
}



.snapcard {
  
position: relative;
  
display:inline-block;
overflow: hidden;
  
width: 320px;
  
height: 450px;
  
margin: 50px auto;
  background: #2a264f;
  
border: 5px solid #1a163f;
  
border-radius: 3px;
  
box-shadow: 0 0 10px #2a264f;

}



.snapcard .img1 {
  position: absolute;
  top: 0;
  left: 0;
  height: 60%;
  width: 100%;
  
background-image: url(https://thebank.info53.com/teams/HCInt/Learn/leading/SiteAssets/Site/media/img/1.jpg);
   
background-size: 310px 440px;
  
background-position: left top;
  
transition: all 0.5s ease-in-out;
}



.snapcard .img2 {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 40%;
  width: 100%;
  
background-image: url(https://thebank.info53.com/teams/HCInt/Learn/leading/SiteAssets/Site/media/img/1.jpg);
  
background-size: 310px 440px;
  
background-position: left bottom;
  
transition: all 0.5s ease-in-out;

}




.snapcard .title {
  height: 22%;
  width: 100%;
  font-size: 20px;
  text-align: center;
  font-weight: 700;
  color: #FFFC;
  padding: 15px 10px;
  position: absolute;
  bottom: 0;
  left: 0;
  box-shadow: 0 -95px 28px -25px #000 inset;
}



.snapcard .text {
  position: absolute;
  bottom: 80px;
  height: 120px;
  padding: 15px 10px;
  text-align: center;
  font-size: 17px;
  color: #fff;
  transform: rotate(90deg);
  transform-origin: 0 100px;
  opacity: 0;
  transition: all 0.5s ease;
}



.snapcard .catagory {
  position: absolute;
  left: 10px;
  top: 140px;
  padding: 3px 10px;
  font-size: 15px;
  font-weight: 700;
  text-align: center;
  background: #2a264f;
  color: #fff;
  border-radius: 5px;
  transform: translate(-160px, 0);
  transition: all 0.5s ease;
}



.snapcard .views {
  position: absolute;
  left: 10px;
  top: 175px;
  padding: 3px 10px;
  font-size: 15px;
  font-weight: 700;
  text-align: center;
  background: #8b2463;
  color: #fff;
  border-radius: 5px;
  transform: translate(-160px, 0);
  transition: all 0.5s ease 0.15s;
}



.snapcard:hover .img1 {
  transform: rotate(10deg) scale(1.3) translate(20px, 0);
  transform-origin: 300px 300px;
  opacity: 0.5;
}



.snapcard:hover .img2 {
  transform: rotate(90deg) translate(0px, 150px);
  transform-origin: -20px 200px;
}



.snapcard:hover .text {
  opacity: 0.8;
  transform: rotate(0deg);
}



.snapcard:hover .views, .snapcard:hover .catagory {
  transform: translate(0);
}




/* new home button stuff*/

.dbutton {
	 
display: inline-block;
	 
padding: 0.75rem 3.25rem;
	 
border-radius: 10% 10% 10% 10% / 0% 0% 40% 40%;
	 
color: #fff;
	
text-transform: uppercase;
	 
font-size: 1rem;
	 
letter-spacing: 0.15rem;
	 
transition: all 0.3s;
	 
position: relative;

margin-top:-1.275%;
margin-left:2%;	 
overflow: hidden;
	 
z-index: 1;

}
 

.dbutton:after {
	 
content: '';
	 
position: absolute;
	 
bottom: 0;
	 
left: 0;
	 
width: 100%;
	
height: 100%;
	 
background-color: #FF8800;
	 
border-radius: 10rem, 10rem, 10rem, 1rem;
	 
z-index: -2;

}
 

.dbutton:before {
	 
content: '';
	
position: absolute;
	 
bottom: 0;
	 
right: 0;
	 
width: 0%;
	 
height: 100%;
	 
background-color: #008fb3;
	 
transition: all 0.9s;
	 
border-radius: 10rem, 10rem, 10rem, 1rem;
	 
z-index: -1;

}
 

.dbutton:hover {
	 
color: #fff;

}
 

.dbutton:hover:before {
	 
width: 100%;


}




</style>