
body {
    background: #67B2E8
}

figure {
    margin: 0;
}
.tile {
    width: 250px;
    height: 350px;
    margin: 2em;
    position: relative;
    float: left;
    display:inline-block;
}
.tile .front, .tile .back {
    display: block;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 250px;
    height: 350px;
    position: absolute;
    overflow: hidden;
    text-align: center;
    border-radius: 8px;
}
.tile h3, .tile p, .tile a {
    padding: 0 10px;
}
.tile img {
    max-height: 130px;
}
.tile .front {
    background: #fff;
    transition: all 0.5s ease-in-out;
    z-index: 2;
}
.tile .front h3 {
    font-size: 2em;
    color: #1D4094;
    text-shadow: 0 0 2px #000;
    margin-top: -1.0em;
    margin-bottom: 1.5em;
}
.tile .back {
    background: #00CC66;
    color: white;
    z-index: 1;
    padding-top: 50px;
}
.tile .back h3 {
    font-size: 1.5em;
    color: white;
    margin-top: 1em;
    margin-bottom: 1em;
}
.tile .back a {
    display: block;
    font-size: 1.2em;
    color: white;
    border-top: 1px solid #fc0;
    margin: 0 20px;
    padding: 0.5em 0;
}
.tile:hover .front {
    top: -300px;
    transform: rotate(360deg) scale(0.1) skew(45deg) translate(-300px);
}

.tile .back a:hover {
    color: #1D4094;
}

/* new home button stuff*/

.dbutton {
    display: inline-block;
    padding: 0.75rem 3.25rem;
    border-radius: 10% 10% 10% 10% / 0% 0% 40% 40%;
    color: #fff;
    text-transform: uppercase;
    font-size: 1rem;
    letter-spacing: 0.15rem;
    transition: all 0.3s;
    position: relative;
    margin-top:-1.275%;
    margin-left:2%;	 
    overflow: hidden;
    z-index: 1;
}
.dbutton:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #FF8800;
    border-radius: 10rem, 10rem, 10rem, 1rem;
    z-index: -2;
}
.dbutton:before {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    width: 0%;
    height: 100%;
    background-color: #008fb3;
    transition: all 0.9s;
    border-radius: 10rem, 10rem, 10rem, 1rem;
    z-index: -1;
}
.dbutton:hover {
    color: #fff;
}
.dbutton:hover:before {
    width: 100%;
}
.btn {
    background: #24abf2;
    color: #fff;
    padding: 15px;
    font-weight: 700;
    display: inline-block;
    font-size: 14px;
    text-decoration: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.lightbox {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
.lightbox:target {
    display: flex;
    justify-content: center;
    align-items: center;
}
.lightbox__body {
    width: 400px;
    position: relative;
}
.lightbox__content {
    background: #fff;
    padding: 40px;
    border-radius: 2px;
    position: relative;
}
.lightbox__content p {
    margin: 0;
    font-size: 14px;
    line-height: 1.6em;
    color: #444;
}
.lightbox__close-btn::after {
    content: "Close";
    display: inline-block;
    position: absolute;
    right: -15px;
    top: -15px;
    z-index: 3;
    width: auto;
    height: 30px;
    cursor: pointer;
    background: #000;
    font-weight: 700;
    font-size: 11px;
    padding: 0 15px;
    line-height: 30px;
    color: #fff;
}
.lightbox__close-btn::before {
    content: "";
    display: block;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.7);
}