<button type="button" ng-click="ctrl.open(1, $event.currentTarget)" >click</button>
<div class="wrapper portal-cards" ng-if="!ctrl.parentLinkId">
    <div class="tile job-bucket" ng-repeat="category in ctrl.allCategories track by $index">
        <div class="front">
            <div class="contents"> 
                <img ng-src="{{category.Image ? category.Image.Url : ''}}" alt=""/> 
                <p> &#160;</p>
                <h3>{{category.Title}}</h3>
                <p>{{category.Description}}</p> 
                <br/> 
                <a ng-href="{{category.Link ? category.Link.Url : '#'}}">{{category.LinkTitle}}</a>
            </div>
        </div>
        <div class="back">
            <h3>{{category.BackTitle}}</h3> 
            <a ng-href="{{'#/'+link.Id}}" ng-repeat="link in ctrl.groupedMainLinks[category.Id] track by $index">{{link.Title}}</a>
        </div>
    </div>
</div>
<div ng-if="ctrl.parentLinkId">
    <div>
        <a href="#/" class="dbutton">Back</a>
    </div>
    <div class="wrapper">
        <div class="tile job-bucket"  ng-repeat="link in ctrl.allLinks track by $index">
            <div class="front">
                <div class="contents"> 
                        <img ng-src="{{link.Image ? link.Image.Url : ''}}" alt=""/>  
                    <p> &#160;</p>
                    <h3>{{link.Title}}</h3>
                    <p>{{link.Description}}</p> 
                    <br/> 
                    <a ng-href="{{link.Link ? link.Link.Url : ''}}">{{link.LinkTitle}}</a>
                </div>
            </div>
            <div class="back">
                <h3 style="cursor:pointer;" ng-click="ctrl.open(link.Id, $event.currentTarget)">{{link.BackTitle}}</h3> 
                </p>{{link.BackDescription}}</p> 
                <a ng-href="{{link.BackLink ? link.BackLink.Url : ''}}" target="_blank">{{link.BackLinkTitle}}</a>
            </div>
        </div>        
    </div>
</div>