<div style="position: relative; width: 100%;">
    <div id="task-toast" class="snackbar"></div>
</div>
<div>
    <div class="badges-info" ng-repeat="badgeGroup in ctrl.allBadges track by $index" ng-init="parentIndex=$index">
        <div style="width:100%;">
            <h3><a ng-href="{{ctrl.allCampaigns[$index].Url+'/SiteAssets/app/Badges.aspx'}}">{{ctrl.allCampaigns[$index].Title}}</a></h3>
        </div>
        <div class="badges-item  text-center"  ng-repeat="badge in badgeGroup track by $index">
            <div class="badge-container" id="badge_{{badge.Id}}" style="display:block;">
                <img class="img-circle" ng-src="{{badge.Icon.Url}}"  id="spinner"/>
                <div class="rank-label-container">
                    <div><b>{{ctrl.getBadgeXP(badge.Tasks)}} XP</b></div>
                    <div>{{badge.Title}}</div>
                    <!-- <div ng-bind-html="ctrl.trustHtml(badge.Description)"></div> -->
                    
                </div>
            </div>
            <!--<div class="badge-buttons">
                <button 
                    ng-if="ctrl.checkIsAllowedTask(badge.Id, parentIndex)"
                    id="task_{{badge.Id}}_{{task.Id}}"
                    ng-repeat="task in badge.Tasks"
                    type="button" 
                    class="btn btn-success" 
                    ng-click="ctrl.generatePdf($event, task);" 
                    ng-disabled="ctrl.checkTask(task.Title,badge.Id, parentIndex)">
                    {{task.Title}}
                </button>
                <div ng-if="!ctrl.checkIsAllowedTask(badge.Id, parentIndex)">Complete <b>{{badge.Previous.Title}}</b></div>
            </div>-->
        </div>
        <br/>
        <hr/>
        <br/>
    </div>
</div>
