<div class="quick-leaderboard">
    <div class="">
        <div class="quick-leaderboard-header">
            <div>Quick view Leaderboard</div>
            <div >
                <a class="btn btn-success">View Leaderboard</a>
            </div>
        </div>
        <div class="quick-leaderboard-header">
            <b>
                In my Role (look at LeaderBoards your EID XP as compared to XP for other with Role)
            </b>
        </div>
        <div>
            <div class="quick-leaderboard-item  text-center" ng-repeat="badge in ctrl.allBadges track by $index" ng-if="$index<3">
                <div class="user-badge">
                    <img class="img-circle" ng-src="{{badge.Icon.Url}}" />
                </div>
                <div>
                    <div class="user-picture">
                        <img class="img-circle" ng-src="/_layouts/15/userphoto.aspx?size=S&username=alex%40alexspoint.com" />
                        <span>Alex Pashkevych</span>
                    </div>
                    <div>{{badge.Title}}</div>
                </div>
                <div class="user-xp">
                    {{badge.XP}} XP
                </div>
            </div>
        </div>
        <br/>
        <div class="quick-leaderboard-header">
            <b>
                Departments (calc each Deparment, compare for most XP)
            </b>
        </div>
        <div>
            <div class="quick-leaderboard-item  text-center" ng-repeat="badge in ctrl.allBadges track by $index" ng-if="$index>3">
                <div class="user-badge">
                    <img class="img-circle" ng-src="{{badge.Icon.Url}}" />
                </div>
                <div>
                    <div class="user-picture">
                        <img class="img-circle" ng-src="/_layouts/15/userphoto.aspx?size=S&username=alex%40alexspoint.com" />
                        <span>Alex Pashkevych</span>
                    </div>
                    <div>{{badge.Title}}</div>
                </div>
                <div class="user-xp">
                    {{badge.XP}} XP
                </div>
            </div>
        </div>
        <br/>
    </div>
</div>
