.quick-leaderboard {
    min-height: 100px;
    width: 100%;
    padding: 10px 20px;
    border: 1px solid #c8c8c8;
    border-top-right-radius: 40px;
    border-bottom-left-radius: 40px;
    box-shadow: 2px 2px 3px 0px;
}
.quick-leaderboard .quick-leaderboard-item,
.quick-leaderboard .quick-leaderboard-item>div {
    display: inline-block;
    vertical-align: middle;
    margin-right: 15px;
}
.quick-leaderboard .quick-leaderboard-item {
    border-right: 1px solid #c8c8c8;
    padding-right: 20px;
    margin-bottom: 10px;
}
.quick-leaderboard .quick-leaderboard-item .user-badge>img{
    width: 48px;
}
/* .quick-leaderboard .quick-leaderboard-item:first-child {
    border-left: 0;
    padding-left: 0;
} */
.quick-leaderboard .quick-leaderboard-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}
.quick-leaderboard .quick-leaderboard-header .btn {
    margin-right: 20px;
}
.quick-leaderboard .quick-leaderboard-item .user-picture>img,
.quick-leaderboard .quick-leaderboard-item .user-picture>span {
    display: inline-block;
}
.quick-leaderboard .quick-leaderboard-item .user-picture>img {
    width: 16px;
}
.quick-leaderboard .quick-leaderboard-item .user-xp {
    font-size: 18px;
    font-weight: bold;
}