<div class="track-form">
    <div class="modal fade" tabindex="-1" role="dialog" id="new-track-form">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="ctrl.clearForm()"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="gridSystemModalLabel">TS Project Tracker</h4>
                </div>
                <div class="modal-body">
                    <div class="form">
                        <div class="col-sm-12 col-md-12 col-lg-6">
                            <div class="form-group">
                                <label for="Title">Project Name</label>
                                <input type="text" class="form-control" id="Title" ng-model="ctrl.item.Title">
                            </div>
                            <div class="form-group">
                                <label for="LineOfBusiness">Line of Business</label>
                                <input type="text" class="form-control" id="LineOfBusiness" ng-model="ctrl.item.LineOfBusiness">
                            </div>
                            <div class="form-group">
                                <label for="Initiative">Initiative</label>
                                <select 
                                    class="form-control" 
                                    id="Initiative" 
                                    ng-model="ctrl.item.Initiative" 
                                    ng-options="opt as opt for opt in ctrl.initiativeChoice track by opt"
                                >
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="LDLeader">Assigned To</label>
                                <ui-select 
                                    multiple 
                                    ng-model="ctrl.item.LDLeader" 
                                    theme="bootstrap" 
                                    close-on-select="true" 
                                    title="Choose a person"
                                >
                                    <ui-select-match placeholder="Select person...">{{$item.DisplayText}} &lt;{{$item.EntityData.Email}}&gt;</ui-select-match>
                                    <ui-select-choices 
                                    refresh="ctrl.getUsers($select)"
                                        refresh-delay="0"
                                        repeat="user as user in ctrl.allUsers | propsFilter: {DisplayText: $select.search}">
                                        <div ng-bind-html="user.DisplayText | highlight: $select.search"></div>
                                        <small>
                                            email: {{user.EntityData.Email}}
                                        </small>
                                    </ui-select-choices>
                                </ui-select>
                                <!-- <ui-select 
                                    ng-if="ctrl.urlItemId"
                                    multiple 
                                    ng-model="ctrl.item.LDLeader" 
                                    theme="bootstrap" 
                                    close-on-select="true" 
                                    title="Choose a person"
                                >
                                    <ui-select-match placeholder="Select person...">{{$item.Title}} &lt;{{$item.Email}}&gt;</ui-select-match>
                                    <ui-select-choices 
                                    refresh="ctrl.getUsers($select)"
                                        refresh-delay="0"
                                        repeat="user as user in ctrl.allUsers | propsFilter: {Title: $select.search, Email: $select.search}">
                                        <div ng-bind-html="user.Title | highlight: $select.search"></div>
                                        <small>
                                            email: {{user.EMail}}
                                        </small>
                                    </ui-select-choices>
                                </ui-select> -->
								<div class="clearfix"></div>
                            </div>
                            <div class="form-group">
                                <label for="VendorContractor">Vendor / Contractor</label>
                                <input type="text" class="form-control" id="VendorContractor" ng-model="ctrl.item.VendorContractor">
                            </div>
                            <div class="form-group">
                                <label for="Team">Team</label>
                                <select 
                                    class="form-control" 
                                    id="Team" 
                                    ng-model="ctrl.item.Team" 
                                    ng-options="opt as opt for opt in ctrl.teamChoice track by opt"
                                >
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="Budget">Budget</label>
                                <input type="number" class="form-control" id="Budget" ng-model="ctrl.item.Budget">
                            </div>
                            <div class="form-group">
                                <label for="InForecast">In Forecast</label>
                                <input type="number" class="form-control" id="InForecast" ng-model="ctrl.item.InForecast">
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-12 col-lg-6">
                            <div class="form-group">
                                <label for="EstimatedDate">Estimated Launch Date to Learner</label>
                                <input type="text" class="form-control" id="EstimatedDate" ng-model="ctrl.item.EstimatedDate">
                            </div>
                            <div class="form-group">
                                <label for="ExpirationDate">Expiration Date</label>
                                <p class="input-group">
                                    <input type="text" class="form-control" 
                                        uib-datepicker-popup="{{format}}" 
                                        ng-model="ctrl.item.ExpirationDate" 
                                        is-open="popup1.opened" 
                                        datepicker-options="dateOptions" 
                                        ng-required="true" 
                                        close-text="Close" 
                                        show-button-bar="false"
                                    />
                                    <span class="input-group-btn">
                                        <button type="button" class="btn btn-default" ng-click="open1()"><i class="glyphicon glyphicon-calendar"></i></button>
                                    </span>
                                </p>
                            </div>
                            <div class="form-group">
                                <label for="Status">Status</label>
                                <select 
                                    class="form-control" 
                                    id="Status" 
                                    ng-model="ctrl.item.Status" 
                                    ng-options="opt as opt for opt in ctrl.statusChoice track by opt"
                                    ng-change="ctrl.onChangeStatus()"
                                >
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="EstimatedProgress">Estimated Progress</label>
                                <input type="number" class="form-control" id="EstimatedProgress" ng-model="ctrl.item.EstimatedProgress">
                            </div>
                            <div class="form-group">
                                <label for="BusinessValue">Business Value</label>
                                <input type="number" class="form-control" id="BusinessValue" ng-model="ctrl.item.BusinessValue">
                            </div>
                            <div class="form-group">
                                <label for="RegulatoryComplianceRelated">Regulatory / Compliance Related</label>
                                <input type="number" class="form-control" id="RegulatoryComplianceRelated" ng-model="ctrl.item.RegulatoryComplianceRelated">
                            </div>
                            <div class="form-group">
                                <label for="CustomerEmployeeValue">Customer / Employee Value</label>
                                <input type="number" class="form-control" id="CustomerEmployeeValue" ng-model="ctrl.item.CustomerEmployeeValue">
                            </div>
                            <div class="form-group">
                                <label for="TimeSensitivity">Time Sensitivity</label>
                                <input type="number" class="form-control" id="TimeSensitivity" ng-model="ctrl.item.TimeSensitivity">
                            </div>
                            <div class="form-group">
                                <label for="Prioritization">Prioritization</label>
                                <input type="number" class="form-control" id="Prioritization" ng-value="{{ctrl.getPrioritization()}}" readonly>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-12 col-lg-12">
                            <div class="form-group">
                                <label for="Description">Description</label>
                                <text-angular ng-model="ctrl.item.Description"></text-angular>
                            </div>
                            <div class="form-group">
                                <label for="Notes">Notes</label>
                                <text-angular ng-model="ctrl.item.Notes"></text-angular>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="ctrl.clearForm()">Close</button>
                    <button type="button" class="btn btn-primary" ng-click="ctrl.saveData()">Save changes</button>
                </div>
            </div>
        </div>
    </div>
</div>