.track-form .modal-header .close,
.ta-toolbar .btn{
    min-width: 0px;
}
.ta-root .ta-editor {
    min-height: 100px;
    height: auto;
    overflow: auto;
    font-family: inherit;
    font-size: 100%;
    position: relative;
    padding: 0;
}
.ta-scroll-window > .ta-bind {
    height: auto;
    min-height: 100px;
    padding: 6px 12px;
}
.b .open .dropdown-menu{
    display: block;
}
.b .modal-dialog {
    max-width: 900px;
    width: auto;
}
.b .dropdown {
	overflow: visible;
}
.b .input-group button {
    min-width: 0;
}
.b #new-track-form{
	overflow: auto;
}